/**
 * 模块的样式
 */
/**
 * 下拉树
 */
/**
 * mixins
 */
/*Color函数*/
/*调色板*/
/*颜色*/
/*超出显示...*/
/*两端对齐*/
/*向右箭头*/
/*圆点*/
#tt {
  position: absolute;
  z-index: 10000;
  width: 300px;
  max-height: 450px;
  overflow: scroll;
  left: 0;
  top: 25px;
  display: none;
  background-color: #f8f8f8;
}
/*分页*/
.page-list {
  zoom: 1;
}
.page-list:before,
.page-list:after {
  content: " ";
  display: table;
}
.page-list:after {
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}
.page-list .pagination {
  float: left !important;
  margin: 10px 0 10px 10px;
}
.page-list .pagination span {
  cursor: pointer;
  color: #333;
}
.page-list .pagination .separate span {
  cursor: default;
  border-top: none;
  border-bottom: none;
}
.page-list .pagination .separate span:hover {
  background: none;
}
.page-list .pagination > .active > span {
  background-color: #db1011;
  border-color: #e24041;
  color: #fff;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
.page-list .pagination > .active > span:hover {
  background-color: #e24041;
  border-color: #e24041;
  color: #fff;
}
.page-list .pagination > .active > span:focus {
  background-color: #db1011;
  border-color: #db1011;
}
.page-list .pagination > li > span {
  padding: 4px 10px;
  border: 1px solid #d9d9d9;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
.page-list .pagination > li > span:hover {
  color: #db1011;
  border: 1px solid #db1011;
  background-color: #fff;
}
.page-list .pagination li.disabled span {
  color: #666;
  cursor: not-allowed;
  border: 1px solid #d9d9d9;
}
.page-list .page-total {
  float: left !important;
  margin: 10px 10px;
  height: 28px;
  line-height: 28px;
}
.page-list .page-total input,
.page-list .page-total span {
  height: 28px;
  float: left !important;
}
.page-list .page-total input {
  width: 50px;
  padding: 3px 12px;
  margin-left: 5px;
}
.page-list .page-total select {
  width: 50px;
}
.page-list .page-total button.btn-default {
  float: left !important;
  margin-left: 5px;
  padding: 0;
  width: 40px;
  height: 28px;
}
.page-list .no-items {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  padding: 20px;
}
/**
 * 折叠面板
 */
.panels {
  padding: 9px 28px;
  cursor: pointer;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
.panels:hover {
  background-color: #fceeee;
  color: #e24041;
}
.expander > .title {
  padding: 4px 10px;
  cursor: pointer;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
.expander > .title:hover {
  background-color: #fceeee;
}
.expander > .title a {
  display: inline-block;
  width: 80%;
  line-height: 30px;
}
.expander .body {
  height: auto;
}
.expander .body .panels {
  padding: 9px 33px;
}
/**
 * 申请发票
 */
.applyInvoice .description {
  margin: 10px 10px 10px 40px;
  border: 1px solid #d9d9d9;
  padding: 10px 10px 10px 20px;
}
.applyInvoice .description li .dian {
  background-color: #f56a00;
  position: relative;
  left: -10px;
}
.applyInvoice .cartList {
  text-align: center;
}
.applyInvoice .cartList .title {
  font-weight: bold;
  background: #edf3fc;
  color: #333;
  height: 40px;
  line-height: 40px;
  margin: 10px 0 0 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  zoom: 1;
}
.applyInvoice .cartList .title:before,
.applyInvoice .cartList .title:after {
  content: " ";
  display: table;
}
.applyInvoice .cartList .title:after {
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}
.applyInvoice .cartList .content {
  border-bottom: 1px dotted #80b2ff;
  border-top: 1px dotted #80b2ff;
  height: 48px;
  line-height: 48px;
  margin: 10px 0;
  background-color: #f3f3f3;
  zoom: 1;
}
.applyInvoice .cartList .content:before,
.applyInvoice .cartList .content:after {
  content: " ";
  display: table;
}
.applyInvoice .cartList .content:after {
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}
.applyInvoice .cartList span {
  float: left !important;
}
.applyInvoice .cartList .list1 {
  width: 10%;
}
.applyInvoice .cartList .list2 {
  width: 20%;
}
.applyInvoice .cartList .list3 {
  width: 30%;
}
.applyInvoice .invoiceMessage {
  padding: 10px 20px;
}
.applyInvoice .invoiceMessage .form-group {
  width: 48%;
  height: 46px;
  line-height: 46px;
}
.applyInvoice .invoiceMessage .form-group label {
  width: 80px;
}
.applyInvoice .invoiceMessage .form-group input[type="text"] {
  width: 270px;
}
.applyInvoice .invoiceMessage .form-group .radio > span {
  display: inline-block;
  width: 80px;
  color: #333;
  font-size: 14px;
  font-weight: bold;
}
.applyInvoice .invoiceMessage .form-group .submit {
  text-align: center;
}
.applyInvoice .invoiceMessage .form-group .submit .btn {
  width: 270px;
}
/**
 * 文章分类
 */
/**
 * 热门文章
 */
.articleHot {
  text-align: center;
}
.articleHot .rankingList {
  zoom: 1;
  height: 44px;
  line-height: 44px;
}
.articleHot .rankingList:before,
.articleHot .rankingList:after {
  content: " ";
  display: table;
}
.articleHot .rankingList:after {
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}
.articleHot .rankingList li {
  height: 44px;
  line-height: 44px;
  float: left !important;
}
.articleHot .rankingList li a {
  width: 100%;
}
.articleHot .rankingList .list2 span {
  display: inline-block;
  width: 100%;
  height: 44px;
}
.articleHot .rankingList .list8 {
  text-align: left;
  padding-right: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/**
 * 文章列表
 */
/**
 * 图书分类
 */
/**
 * 图书章节
 */
.bookChapter .bookTitle p {
  text-align: right;
  padding-right: 40px;
  margin-bottom: 10px;
}
.bookChapter .bookTitle .titleName {
  line-height: 3.1em;
  text-align: center;
  color: #666;
  margin-top: 10px;
}
.bookChapter .bookChapterContent {
  border-top: 5px solid #d9d9d9;
}
.bookChapter .bookChapterContent li {
  height: 35px;
  line-height: 35px;
}
.bookChapter .bookChapterContent li a {
  font-size: 1.3em;
  line-height: 1.3em;
  color: #666;
  margin-top: 10px;
  margin-left: 20px;
}
/**
 * 章节内容
 */
.bookChapterContent .article-detail {
  padding: 0 5px;
}
.bookChapterContent .article-detail .article-detail-title-bar {
  border-bottom: 1px solid #d9d9d9;
}
.bookChapterContent .article-detail .article-detail-title-bar .article-detail-title {
  font-size: 22px;
  font-weight: 600;
  line-height: 35px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}
.bookChapterContent .article-detail .article-detail-title-bar .article-detail-info {
  line-height: 30px;
  font-size: 12px;
  color: #999;
  text-align: center;
}
.bookChapterContent .article-detail .article-detail-title-bar .article-detail-info span {
  margin: 0 15px;
}
.bookChapterContent .article-detail .article-detail-title-bar .article-detail-adjust {
  color: #999;
  text-align: center;
  line-height: 35px;
}
.bookChapterContent .article-detail .article-detail-title-bar .article-detail-adjust a {
  color: #999;
  line-height: 30px;
  margin: 0 5px;
}
.bookChapterContent .article-detail .article-detail-title-bar .article-detail-adjust a:hover {
  color: #666;
}
.bookChapterContent .article-detail .article-detail-content {
  min-height: 500px;
  word-wrap: break-word;
  padding: 10px 20px;
}
.bookChapterContent .article-detail .article-detail-changeBar {
  margin: 20px 0 20px 0;
  text-align: center;
  zoom: 1;
}
.bookChapterContent .article-detail .article-detail-changeBar:before,
.bookChapterContent .article-detail .article-detail-changeBar:after {
  content: " ";
  display: table;
}
.bookChapterContent .article-detail .article-detail-changeBar:after {
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}
.bookChapterContent .article-detail .article-detail-changeBar .article-detail-changeBar-up {
  float: left !important;
}
.bookChapterContent .article-detail .article-detail-changeBar .article-detail-changeBar-down {
  float: right !important;
}
.bookChapterContent .article-detail .article-detail-changeBar a {
  width: 200px;
  margin: 0 20px;
}
/**
 * 图书详情
 */
.bookDetail .bookTitle .titleName {
  height: 70px;
  line-height: 70px;
  text-align: center;
  margin-top: 10px;
}
.bookDetail .bookContent {
  zoom: 1;
}
.bookDetail .bookContent:before,
.bookDetail .bookContent:after {
  content: " ";
  display: table;
}
.bookDetail .bookContent:after {
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}
.bookDetail .bookContent img {
  float: left !important;
  width: 187px;
  height: 247px;
  margin: 20px 0 0 20px;
}
.bookDetail .bookContent .bookTxt {
  float: left !important;
  padding-left: 11px;
  margin-top: 20px;
}
.bookDetail .bookContent .bookTxt > p {
  height: 25px;
  line-height: 25px;
}
.bookDetail .bookContent .bookTxt h4 {
  height: 30px;
  line-height: 30px;
  font-weight: normal;
  font-size: 22px;
  color: #666;
}
.bookDetail .bookContent .bookTxt .group a.btn {
  margin: 30px 10px 0 0;
  width: 130px;
}
.bookDetail .modal-footer {
  text-align: center;
}
.bookDetail .bookComment {
  padding: 20px;
}
.bookDetail .bookComment .comment_bord {
  border-left: 5px solid solid;
  border-bottom: 3px solid solid;
  margin-bottom: 20px;
}
.bookDetail .bookComment .comment_bord > li {
  border-bottom: 1px dashed #d9d9d9;
  zoom: 1;
}
.bookDetail .bookComment .comment_bord > li:before,
.bookDetail .bookComment .comment_bord > li:after {
  content: " ";
  display: table;
}
.bookDetail .bookComment .comment_bord > li:after {
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}
.bookDetail .bookComment .comment_bord > li .bookCommentLeft {
  width: 80%;
  float: left !important;
}
.bookDetail .bookComment .comment_bord > li .bookCommentLeft h4,
.bookDetail .bookComment .comment_bord > li .bookCommentLeft p {
  padding-left: 15px;
  margin-top: 5px;
}
.bookDetail .bookComment .comment_bord > li .bookCommentLeft p {
  min-height: 40px;
}
.bookDetail .bookComment .comment_bord > li .bookCommentRight span {
  display: inline-block;
  width: 45px;
  height: 45px;
  background-color: #db1011;
  color: #fff;
  line-height: 45px;
  font-weight: bold;
  text-align: center;
  margin: 10px 40px 0 0;
  border: 1px solid #e24041;
  border-radius: 4px;
}
.bookDetail .bookSum {
  padding: 20px;
}
.bookDetail h3 {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 10px;
}
/**
 * 电子书引导模块
 */
.bookGuide .bookList {
  zoom: 1;
  width: 100%;
  height: 210px;
  padding-top: 20px;
}
.bookGuide .bookList:before,
.bookGuide .bookList:after {
  content: " ";
  display: table;
}
.bookGuide .bookList:after {
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}
.bookGuide .bookList li {
  width: 283px;
}
.bookGuide .bookList li img {
  width: 114px;
  height: 162px;
}
.bookGuide .bookList li .content {
  width: 169px;
  padding: 5px 15px 0 15px;
}
.bookGuide .bookList li .content .title {
  padding: 0 0 15px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.bookGuide .bookList li .content .desc {
  color: #999;
  margin: 10px 0;
  height: 60px;
}
.bookGuide .bookList li .content .author {
  color: #666;
}
.bookGuide .bookList li .content .clickCount {
  color: #f56a00;
  margin-top: 5px;
}
/**
 * 修改信息
 */
.changeUserInfo .change-user-info {
  width: 65%;
  margin: 0 auto;
}
.changeUserInfo .change-user-info .form-group {
  zoom: 1;
}
.changeUserInfo .change-user-info .form-group:before,
.changeUserInfo .change-user-info .form-group:after {
  content: " ";
  display: table;
}
.changeUserInfo .change-user-info .form-group:after {
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}
.changeUserInfo .change-user-info .form-group label {
  text-align: right;
}
.changeUserInfo .change-user-info .form-group .control-label,
.changeUserInfo .change-user-info .form-group .info {
  height: 34px;
  line-height: 34px;
}
.changeUserInfo .change-user-info .form-group .select-grade {
  width: 50%;
}
.changeUserInfo .change-user-info .form-group .btn {
  width: 200px;
}
/**
 * 用户素质维度
 */
.slideBar {
  width: 430px;
  height: 554px;
  position: fixed;
  right: -430px;
  top: 50%;
  background: #fff;
  border: 1px solid #d9d9d9;
  box-shadow: 0px 0px 8px #d9d9d9;
  z-index: 99999;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.slideBar .hoverBtn {
  width: 30px;
  padding-top: 20px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -66px;
  left: -30px;
  color: #fff;
  background: #94dde1;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.slideBar .hoverBtn span {
  float: left !important;
  display: inline-block;
  width: 30px;
  height: 19px;
  line-height: 19px;
  text-align: center;
  overflow: hidden;
}
.slideBar .hoverBtn .hoverimg {
  float: left !important;
  width: 13px;
  height: 9px;
  margin: 10px 0px 10px 10px;
  display: inline-block;
  background-repeat: no-repeat;
}
.slideBar .chart {
  position: absolute;
  margin-left: 15px;
  top: 45%;
  *margin-top: -115px;
  margin-top: -225px;
}
.slideBar .chartBottom {
  position: absolute;
  bottom: 30px;
  left: 20px;
  font-size: 16px;
  color: #666;
}
/**
 * 公务员培训
 */
.civilServiceTrainingLink .com-header a.pull-right {
  line-height: 40px;
  color: #fff;
  font-size: 12px;
  padding-right: 10px;
}
.civilServiceTrainingLink .civil-body {
  height: 175px;
  margin-left: 10px;
}
.civilServiceTrainingLink .civil-body li {
  height: 35px;
}
.civilServiceTrainingLink .civil-body li a {
  display: inline-block;
  padding: 7px 5px;
  font-size: 14px;
  color: #333;
  max-width: 316px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.civilServiceTrainingLink .civil-body li a:hover {
  color: #e24041;
}
.civilServiceTrainingLink .civil-body li a:hover .dian {
  background-color: #e24041;
}
.civilServiceTrainingLink .civil-body li a .content {
  margin-left: 10px;
}
/**
 * 班级课程
 */
/**
 * 班级详情
 */
.classDetail .trclasstitle .title {
  height: 30px;
  line-height: 30px;
  font-size: 20px;
}
.classDetail .trclasstitle .fabiao {
  margin: 15px auto;
}
.classDetail .contentclassinfo {
  text-indent: 2em;
  line-height: 24px;
  padding: 10px;
}
.classDetail .myTab .perlist .photo {
  margin-top: 20px;
}
.classDetail .myTab .perlist .photo img {
  width: 80%;
  height: 130px;
  border-radius: 4px;
}
/**
 * 班级考试
 */
/**
 * 班级园地
 */
.classGarden .borderNews {
  min-height: 396px;
  background: url("../images/classGardenbg.png") no-repeat center;
}
.classGarden .borderNews .myTab ul.nav-tabs > li > a {
  font-weight: 600;
}
.classGarden .borderNews .tab-content {
  border: 1px solid #d9d9d9;
  border-top: none;
  border-bottom: none;
}
.classGarden .borderNews .tab-content .perlist .title_bar {
  background-color: #fff;
  border-bottom: 1px solid #d9d9d9;
  font-size: 16px;
  color: #666;
  font-weight: normal;
}
.classGarden .borderNews .tab-content .perlist .list {
  border-bottom: 1px solid #d9d9d9;
}
.classGarden .borderNews .tab-content .perlist .list > div {
  height: 48px;
  line-height: 48px;
}
.classGarden .borderNews .tab-content .perlist .list .bookLog {
  text-align: left;
}
.classGarden .borderNews .tab-content .perlist .list .bookLog img {
  margin: 0 20px;
}
.classGarden .borderNews a.btn {
  width: 75px;
  padding: 2px 0;
}
/**
 * 班级列表
 */
/**
 * 班级列表
 */
.classMy {
  min-height: 180px;
}
.classMy .myClass {
  padding-bottom: 10px;
  text-align: center;
}
.classMy .myClass .listTitle {
  background-color: #f8f8f8;
}
.classMy .myClass .listTitle span {
  font-size: 16px;
  font-weight: 600;
}
/**
 * 班级列表
 */
.classNavigation .classdh {
  border-top: 1px solid #d9d9d9;
  min-height: 166px;
  zoom: 1;
  text-align: center;
}
.classNavigation .classdh:before,
.classNavigation .classdh:after {
  content: " ";
  display: table;
}
.classNavigation .classdh:after {
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}
.classNavigation .classdh li {
  float: left !important;
  line-height: 35px;
  font-size: 16px;
  color: #666;
  margin-left: 15px;
  width: 40%;
  border-bottom: 1px dashed #d9d9d9;
}
.classNavigation .classdh li .dian1 {
  display: inline-block;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #db1011;
  vertical-align: middle;
  margin-right: 20px;
}
/**
 * 班级公告
 */
/**
 * 班级公告
 */
/**
 * 教学计划
 */
/**
 * 同学名录
 */
/**
 * 班级话题
 */
/**
 * 学院概况
 */
.collegeInfo .collegeContent {
  padding: 20px;
}
/**
 * 课程中心
 */
.courseCenter {
  border-bottom: 6px solid #db1011;
}
.courseCenter .courseLink {
  width: 100%;
  background: #f8f8f8;
}
.courseCenter .courseLink.btn-group > .btn {
  color: #666;
  width: 169px;
  height: 44px;
  line-height: 44px;
  background: #f8f8f8;
  padding: 0;
  border-color: #f8f8f8;
  font-size: 18px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s ease;
  -moz-transition-duration: 0.3s ease;
  -o-transition-duration: 0.3s ease;
  transition-duration: 0.3s ease;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
.courseCenter .courseLink.btn-group > .btn:hover {
  color: #fff;
  background-color: #e24041;
  border-color: #e24041;
}
.courseCenter .courseLink.btn-group > .btn.active {
  background-color: #db1011;
  color: #fff;
  border-color: #db1011;
}
.courseCenter .courseList {
  min-height: 440px;
}
.courseCenter .courseList ul {
  zoom: 1;
}
.courseCenter .courseList ul:before,
.courseCenter .courseList ul:after {
  content: " ";
  display: table;
}
.courseCenter .courseList ul:after {
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}
.courseCenter .courseList ul li {
  float: left !important;
  margin-left: 10px;
  min-height: 200px;
  width: 200px;
  margin-bottom: 10px;
  position: relative;
}
.courseCenter .courseList ul li .desc p {
  line-height: 23px;
  max-width: 190px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #999;
}
.courseCenter .courseList ul li .desc p a {
  font-size: 16px;
  color: #003333;
}
.courseCenter .courseList ul li .desc p a:hover {
  color: #004d4d;
}
.courseCenter .courseList ul li .hotCourse {
  position: absolute;
  left: 10px;
  top: 100px;
  color: #fff;
  font-size: 12px;
}
.courseCenter .courseList ul li .hotCourse .bg {
  width: 66px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.3);
}
.courseCenter .courseList ul li .hotCourse .content {
  position: absolute;
  top: 3px;
  left: 5px;
}
.courseCenter .courseList ul li .hotCourse img {
  position: relative;
  top: -1px;
}
.courseCenter .courseList ul li a img {
  width: 200px;
  height: 127px;
}
/**
 * 课程分类
 */
/**
 * 课程详情
 */
.courseDetails .table > tbody {
  border: 1px solid #d9d9d9;
}
.courseDetails .table > tbody > tr > td {
  padding-left: 25px;
  border-top: none;
  vertical-align: middle;
}
.courseDetails .starGroup span {
  float: left !important;
}
.courseDetails .jdcontext p {
  height: 27px;
  line-height: 27px;
}
.courseDetails .jdcontext .number {
  color: #999;
}
.courseDetails .jdcontext .name {
  margin-left: 45px;
}
.courseDetails .jdcontext .glyphicon-ok {
  margin-right: 65px;
}
.courseDetails .cur_title a {
  color: #db1011;
}
.courseDetails .cur_title a .glyphicon {
  position: relative;
  top: 2px;
}
.courseDetails .cur_title a:hover {
  color: #e24041;
}
.courseDetails tbody > tr > td.listtb1,
.courseDetails tbody > tr > td.listtb3 {
  padding-right: 25px;
}
.courseDetails .listtb1 {
  width: 20%;
  text-align: center;
}
.courseDetails .listtb2 {
  width: 40%;
}
.courseDetails .listtb2 .progress {
  width: 150px;
  margin: 0 auto;
}
.courseDetails .listtb3 {
  width: 20%;
  text-align: center;
}
.courseDetails .listtb4 {
  width: 20%;
}
.courseDetails .listtb5 .bar {
  height: 27px;
  line-height: 27px;
}
.courseDetails .panel-body {
  padding-top: 0;
}
.courseDetails .panel-body .table tr,
.courseDetails .panel-body .table th {
  text-align: center;
}
.courseDetails .panel-body .table th {
  font-size: 15px;
  color: #333;
}
.courseDetails .panel-body .table .userImg {
  width: 7%;
  text-align: right;
}
.courseDetails .panel-body .table .user {
  width: 60%;
  color: #666;
}
.courseDetails .panel-body .table .comment {
  width: 60%;
  color: #333;
  padding-bottom: 25px;
}
.courseDetails .panel-body .table .time {
  width: 20%;
  color: #999;
}
.courseDetails .panel-body .table > tbody + tbody {
  border: none;
  border: 1px solid #d9d9d9;
}
.courseDetails .courseComment .panel {
  border-left: none;
  border-right: none;
  border-radius: 0;
}
.courseDetails .courseComment .panel-default > .panel-heading {
  border-left: none;
  border-right: none;
  border-radius: 0;
}
/**
 * 课程点击排行
 */
.courseRankingList {
  text-align: center;
}
.courseRankingList .rankTitle {
  background-color: #f8f8f8;
  zoom: 1;
}
.courseRankingList .rankTitle:before,
.courseRankingList .rankTitle:after {
  content: " ";
  display: table;
}
.courseRankingList .rankTitle:after {
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}
.courseRankingList .rankTitle li {
  height: 44px;
  line-height: 44px;
}
.courseRankingList .rankTitle span {
  height: 48px;
  line-height: 48px;
  float: left !important;
}
.courseRankingList .rankingList {
  zoom: 1;
}
.courseRankingList .rankingList:before,
.courseRankingList .rankingList:after {
  content: " ";
  display: table;
}
.courseRankingList .rankingList:after {
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}
.courseRankingList .rankingList li {
  float: left !important;
}
.courseRankingList .rankingList .list2 span {
  display: inline-block;
  width: 100%;
  height: 23px;
  line-height: 23px;
  vertical-align: middle;
}
/**
 * 课程超市列表
 */
.courseSupermarket .formSearch input.searchType {
  width: 85%;
}
.courseSupermarket .courseList {
  position: relative;
  border-top: 1px solid #d9d9d9;
}
.courseSupermarket .courseList .sortCourse .recommendCourse {
  margin: 3px 5px 3px 30px;
}
.courseSupermarket .courseList .sortCourse .tag {
  float: left !important;
  padding: 10px 15px 10px 0;
}
.courseSupermarket .courseList .sortCourse .tag span {
  padding-left: 10px;
}
.courseSupermarket .courseList .sortCourse .tag a {
  margin-left: 5px;
}
.courseSupermarket .courseList .sortCourse .title_bar {
  text-align: left;
  margin-left: 155px;
}
.courseSupermarket .courseList .sortCourse .title_bar span {
  line-height: 37px;
  display: inline-block;
  margin-right: 5px;
}
.courseSupermarket .courseList .NewCourseList {
  text-align: center;
  font-size: 12px;
  border-top: 1px solid #d9d9d9;
}
.courseSupermarket .courseList .NewCourseList ul li {
  border-bottom: 1px solid #d9d9d9;
  padding-top: 10px;
}
.courseSupermarket .courseList .NewCourseList ul li .line span {
  display: inline-block;
}
.courseSupermarket .courseList .NewCourseList ul li .block1 {
  width: 30px;
  margin-top: 25px;
}
.courseSupermarket .courseList .NewCourseList ul li .block2 {
  height: 84px;
}
.courseSupermarket .courseList .NewCourseList ul li .block2 img {
  width: 110px;
  height: 74px;
}
.courseSupermarket .courseList .NewCourseList ul li .block3 {
  text-align: left;
  width: 430px;
  margin-left: 15px;
}
.courseSupermarket .courseList .NewCourseList ul li .block3 .CourseName a {
  font-size: 15px;
}
.courseSupermarket .courseList .NewCourseList ul li .block3 .line3,
.courseSupermarket .courseList .NewCourseList ul li .block3 .line2 {
  line-height: 25px;
}
.courseSupermarket .courseList .NewCourseList ul li .block3 .line3 a,
.courseSupermarket .courseList .NewCourseList ul li .block3 .line2 a {
  font-size: 12px;
}
.courseSupermarket .courseList .NewCourseList ul li .block4 .onlineDate {
  display: block;
  margin-right: 10px;
}
.courseSupermarket .courseList .NewCourseList ul li .block4 .play {
  width: 97px;
  height: 27px;
  border: none;
  background-color: #db1011;
  color: #fff;
  margin-top: 14px;
  display: block;
  margin-right: 10px;
  text-align: center;
  line-height: 27px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
}
.courseSupermarket .courseList .NewCourseList ul li .block4 .play:hover {
  background-color: #e91112;
}
.courseSupermarket .checkCourse > a.btn {
  margin: 10px 0 0 5px;
  padding: 4px 10px;
}
/**
 * 考试
 */
.exam {
  min-height: 700px;
  background-color: #f8f8f8;
}
.exam .exam_top {
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
}
.exam .editForm {
  padding: 20px;
}
.exam .table tr td {
  text-align: left;
  padding: 5px 15px;
}
.exam .table tr td .xz li {
  float: left !important;
  font-size: 15px;
  font-weight: bold;
  padding-left: 15px;
}
/**
 * 考试记录
 */
/**
 * 考试中心
 */
/**
 * 考试结果查看
 */
.examReview {
  min-height: 700px;
  background-color: #f8f8f8;
}
.examReview .exam_top {
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
}
.examReview .examReviewForm {
  padding: 20px;
}
.examReview .examReviewForm tr td {
  text-align: left;
  padding: 5px 15px;
}
.examReview .examReviewForm .xz li {
  float: left !important;
  font-size: 15px;
  font-weight: bold;
  padding-left: 15px;
}
/**
 * footer
 */
.footer .imgLink {
  margin: 23px 0;
}
.footer .imgLink li {
  margin-right: 14px;
}
.footer .imgLink li.last {
  margin-right: 0;
}
.footer .friendlyLink {
  text-align: center;
  margin: 0px auto 24px;
  zoom: 1;
}
.footer .friendlyLink:before,
.footer .friendlyLink:after {
  content: " ";
  display: table;
}
.footer .friendlyLink:after {
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}
.footer .friendlyLink .dropup {
  width: 188px;
  float: left !important;
}
.footer .friendlyLink .dropup .btn {
  width: 100%;
  padding: 3px 12px;
}
.footer .footerBg {
  height: 156px;
  background-color: #ebebeb;
  padding: 40px 0 40px 0;
  text-align: center;
}
.footer .footerBg p {
  line-height: 32px;
  font-size: 12px;
  color: #999;
  margin-left: 30px;
}
/**
 * 忘记密码
 */
.forgetPassword .tmBorder {
  min-height: 200px;
}
.forgetPassword .tmBorder .center {
  text-align: center;
}
.forgetPassword .tmBorder .tip {
  color: #999;
  text-align: center;
  font-size: 12px;
  padding: 20px;
}
/**
 * 友情链接(短模块)
 */
.friendlyLinkShort {
  height: 215px;
  padding-left: 20px;
}
.friendlyLinkShort h4 {
  text-align: center;
  height: 40px;
  line-height: 40px;
  background-color: #f7f7f7;
  margin-right: 10px;
}
.friendlyLinkShort ul li {
  float: left !important;
  width: 180px;
  height: 28px;
  background-color: #f7f7f7;
  margin: 5px 5px 0 0;
  padding: 0 5px;
}
.friendlyLinkShort ul li a {
  line-height: 28px;
  text-align: left;
  zoom: 1;
}
.friendlyLinkShort ul li a:before,
.friendlyLinkShort ul li a:after {
  content: " ";
  display: table;
}
.friendlyLinkShort ul li a:after {
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}
.friendlyLinkShort ul li a .linkName {
  float: left !important;
  width: 145px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.friendlyLinkShort ul li a .linkArrow {
  float: right !important;
}
/**
 * 友情链接(短模块)
 */
.guideEntry a {
  display: inline-block;
  width: 110px;
}
.guideEntry .guideContent {
  margin-top: 20px;
  height: 233px;
  border: 1px solid #e9e9e9;
  text-align: center;
}
.guideEntry .guideContent ul {
  margin-top: 15px;
}
.guideEntry .guideContent ul li {
  width: 109px;
  float: left !important;
}
.guideEntry .guideContent .professionals {
  display: inline-block;
}
.guideEntry .guideContent .professionals p {
  padding: 12px 0;
}
/**
 * header
 */
.tmHeader .header {
  width: 100%;
  background-color: #ebebeb;
}
.tmHeader .header .headerContent {
  background-color: #ebebeb;
  height: 40px;
  line-height: 40px;
  color: #999;
}
.tmHeader .header .headerContent a {
  color: #999;
}
.tmHeader .header .headerContent a:hover {
  color: #666;
}
.tmHeader .header .headerContent img {
  padding: 2px 12px;
  position: relative;
  top: -2px;
}
.tmHeader .header .headerContent .phone {
  color: #db1011;
}
.tmHeader .headerSearch {
  height: 110px;
}
.tmHeader .headerSearch ul li .logoImg {
  height: 100px;
  line-height: 100px;
}
.tmHeader .headerSearch ul li .logoText h3 {
  font-size: 35px;
  font-weight: 600;
  margin-top: 25px;
  color: #444548;
  text-align: center;
}
.tmHeader .headerSearch ul li .logoText p {
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}
.tmHeader .headerSearch ul .searchInput {
  height: 100px;
  vertical-align: middle;
  padding-left: 24px;
}
.tmHeader .headerSearch ul .searchInput .input-group {
  margin-top: 30px;
}
.tmHeader .headerSearch ul .searchInput .input-group .form-control {
  height: 44px;
  line-height: 44px;
  width: 335px;
  padding: 0 10px 0 40px;
  background: url("../images/search.png") 9px 10px no-repeat;
}
.tmHeader .headerSearch ul .searchInput .input-group .input-group-btn {
  height: 44px;
  line-height: 44px;
  display: block;
}
.tmHeader .headerSearch ul .searchInput .input-group .input-group-btn .btn {
  padding: 11px 16px;
  background-color: #444548;
  color: #fff;
}
.tmHeader .headerSearch ul .redFlag {
  margin: 30px 0 0 15px;
}
.tmHeader .headerSearch ul .Img {
  text-align: center;
  padding: 0 20px;
  margin-top: 5px;
  position: relative;
}
.tmHeader .headerSearch ul .Img span {
  font-size: 12px;
}
.tmHeader .headerSearch ul .Img .smWeixinImg,
.tmHeader .headerSearch ul .Img .smAppImg {
  width: 80px;
  height: 80px;
}
.tmHeader .headerSearch ul .appImg:hover .bigAppImg,
.tmHeader .headerSearch ul .weiXinImg:hover .bigWeiXinImg {
  visibility: visible;
  opacity: 1;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
.tmHeader .headerSearch ul .bigAppImg,
.tmHeader .headerSearch ul .bigWeiXinImg {
  position: absolute;
  left: 10px;
  top: 0;
  z-index: 99999;
  width: 120px;
  height: 120px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
