/*cssreset*/
* {
  margin: 0px;
  padding: 0px;
}

a {
  font-size: 14px;
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #62a3db;
  text-decoration: none;
  cursor: pointer;
}
/* `XHTML, HTML4, HTML5 Reset
----------------------------------------------------------------------------------------------------*/

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  margin: 0;
  padding: 0;
}

html{
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  /*
    Override the default (display: inline) for
    browsers that do not recognize HTML5 tags.

    IE8 (and lower) requires a shiv:
    http://ejohn.org/blog/html5-shiv
  */
  display: block;
}

b,
strong {
  /*
    Makes browsers agree.
    IE + Opera = font-weight: bold.
    Gecko + WebKit = font-weight: bolder.
  */
  font-weight: bold;
}

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  border:0px;
  /*
    For IE.
    http://css-tricks.com/ie-fix-bicubic-scaling-for-images
  */
  -ms-interpolation-mode: bicubic;
}

ol,
ul {
  list-style: none;
}

li {
  /*
    For IE6 + IE7:

    "display: list-item" keeps bullets from
    disappearing if hasLayout is triggered.
  */
  display: list-item;
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

th,
td,
caption {
  font-weight: normal;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

sub,
sup,
small {
  font-size: 75%;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

svg {
  /*
    For IE9. Without, occasionally draws shapes
    outside the boundaries of <svg> rectangle.
  */
  overflow: hidden;
}

/*公共样式*/
body {
  font-family: "Microsoft YaHei","宋体";
  background-color: #fff;
}
.container_24{background-color: #fff}
a.btn {
  color: #fff;
}
h4 {
  font-size: 16px;
  /*font-weight: bold;*/
}
/*颜色*/
.blue {  color: #3a7fb6;  }
.green {  color: #6d9d85;  }
.cyan {  color: #b4ca41;  }
.red {color: #db1011}
    /*深*/
.red2 {color: #f50001;}
.gray {color: #444548;}
.gray2 {color: #666;}
.gray2 {color: #333;}
.orange {  color: #ff9842;}

/*超出显示...*/
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/*两端对齐*/
.justify {
  text-align: justify;
  -ms-text-justify: inter-ideograph;
  text-justify: inter-ideograph;
}
.triangleRight {
  font-size: 0;
  line-height: 0;
  border-width: 5px;
  border-color: #db1011;
  border-right-width: 0;
  border-style: dashed;
  border-left-style: solid;
  border-top-color: transparent;
  border-bottom-color: transparent;
}
/*模块头部公用样式*/
.com-header {
  height: 50px;
  width: 100%;
  border-bottom: 1px solid #db1011;
}
.com-header .more{
  height: 50px;
  line-height: 50px;
}
.com-header .title{
  color: #333;
  font-size: 18px;
  font-weight: 600;
}

/*课程分类头部1*/
.titlebg .txt {
  width: 100%;
  line-height: 49px;
  text-indent: 49px;
  font-size: 20px;
  color: #333;
}
.tag {
  padding: 10px 20px 10px 30px;
}
.tag span {
  padding-left: 10px;
}
.tag a {
  margin-left: 5px;
}
/*课程分类头部2*/
.titlebg2 .txt {
  line-height: 65px;
  color: #666;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
/*排行榜内页头部*/
.rankTitle .txt {
  font-size: 17px;
  color: #666;
  font-weight: bold;
  text-align: center;
}
/*文章分类，个人中心导航*/
.categoryGuide{
  padding:20px 20px 0 20px;
}
.categoryGuide  li{
  width: 50%;
  float: left;
  text-align: center;
  margin-bottom: 20px;
}
.categoryGuide  li  a.btn{
  display: inline-block;
  width: 100px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  color: #fff;
  background: #db1011;
  padding: 0;
}
.categoryGuide li a.btn:hover {
  background-color: #f50001;
}
/*路径导航通用样式*/
.breadcrumb {
}
.datebg {
  background: url(../images/datePicker.gif) no-repeat right;
}
.breadcrumb .currentPosition{
  color: #333;
  padding-left: 25px;
  background: url("../images/link.gif") 0 2px no-repeat;
}
.formSearch{
  margin-left: 40px;
  margin-bottom: 10px;
}
.formSearch .form-group{
  width: 70%;
}
.formSearch .form-control ,.formSearch .btn.btn-default{
  height: 26px;
}
.formSearch input.form-control{
  width: 100%;
}
.formSearch select.form-control{
  padding: 0;
}
.formSearch .btn.btn-default{
  padding: 2px 21px;
  background: #db1011;
  color: #fff;
  border: 1px solid #db1011;
}
.formSearch .btn.btn-default:hover{
  background: #f50001;
  border: 1px solid #f50001;
}

/*模板通用边框*/
.tmBorder {
  border:1px solid #ddd;
}
.tmBorder-green {
  border:1px solid #ddd;
  border-top:6px  solid #6d9d85;
}
.tmBorder-blue {
  border:1px solid #ddd;
  border-top:6px  solid #3a7fb6;
}
.tmBorder-cyan {
  border:1px solid #ddd;
  border-top:6px  solid #b4ca41;
}
.tmBorder-red {
  border-top:6px  solid #db1011;
}
h4.title-h4{
  line-height: 52px;
  text-align: center;
}
/*圆点*/
.dian {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #333;
}
/*星星*/
.star {
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  width: 121px;
  height: 18px;
  margin-right: 14px;
  /*float: left;*/
  background: url(../images/star_all.png) 0 0 no-repeat;
  vertical-align: middle;
}
/*验证码*/
.verificationCode {
  width: 110px;
  height: 30px;
  margin-left: 10px;
}
/*
 *星级评论
 */
.my-stars-list{
  height: 34px;
  line-height: 34px;
  float: left;
}
.my-stars-items{
  float: left;
  cursor:pointer;
  font-size:0;
  width: 25px;
  line-height: 25px;
  height:25px;
  background-image: url(../images/star_all_02.png);
  background-repeat: no-repeat;
  background-position: center center;
}
.myStarHover.my-stars-items{
  background-image: url(../images/star_all_04.png);
  background-repeat: no-repeat;
  background-position: center center;
}
.myStarsSel.my-stars-items{
  background-image: url(../images/star_all_04.png);
  background-repeat: no-repeat;
  background-position: center center;
}
/*播放进度*/
.progress {
  height: 18px;
  margin-top: 9px;
  margin-bottom: 0;
  background-color: #c5c5c5;
}
/*.progress .progress-bar{
  color: #333;
}*/
/*购物车头部*/
.shoppingTitle{
  text-align: left;
  margin-top: 20px;
  font-size: 20px;
}
.shoppingTitle .verticalLine{
  display: inline-block;
  position: relative;
  top:3px;
  left: 0px;
  margin-left: 10px;
  width: 30px;
  height: 20px;
  border-left: 2px solid #df9f2c;
}
/*标签页*/
.myTab {
  text-align: center;
}
.myTab ul.nav-tabs {
  background-color: #f3f3f3;
}
.myTab ul.nav-tabs>li a {
  color: #333;
  width: auto;
  padding: 13px 27px;
  border-top:3px solid #f3f3f3;
  margin:0;
  font-size: 16px;
  font-weight: 600;
}
.myTab ul.nav-tabs>li.active a {
  color: #db1011;
  background-color: #fff;
  border: 1px solid #eee;
  border-top:3px solid #db1011;
  border-bottom-color: transparent;
  text-align: center;
}
.myTab .perlist .title_bar{
  width: 100%;
  font-weight: bold;
  background: #EDF3FC;
  color: #666;
  zoom: 1;
  border-bottom: 1px dashed #ccc;
}
.myTab .perlist .list{
  width: 100%;
  border-bottom: 1px dashed #ccc;
  zoom: 1;
}
.myTab .perlist .list:before,
.myTab .perlist .list:after ,
.myTab .perlist .title_bar:before,
.myTab .perlist .title_bar:after{
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}
.myTab .perlist .list:after,
.myTab .perlist .title_bar:after{
  clear: both;
}
.myTab .perlist .list:hover{
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}
.myTab .perlist span a.fav{
  margin-left: 10px;
}
.list0-75   {  width: 7.5%;float: left;line-height: 37px;padding-left: 10px; padding-right: 10px;}
.list1   {  width: 10%;float: left;line-height: 37px;padding-left: 10px; padding-right: 10px;}
.list1-5 {  width: 15%;float: left;line-height: 37px;padding-left: 10px; padding-right: 10px;}
.list2   {  width: 20%;float: left;line-height: 37px;padding-left: 10px; padding-right: 10px;}
.list2-5 {  width: 25%;float: left;line-height: 37px;padding-left: 10px; padding-right: 10px;}
.list3   {  width: 30%;float: left;line-height: 37px;padding-left: 10px; padding-right: 10px;}
.list3-5 {  width: 35%;float: left;line-height: 37px;padding-left: 10px; padding-right: 10px;}
.list4   {  width: 40%;float: left;line-height: 37px;padding-left: 10px; padding-right: 10px;}
.list4-5 {  width: 45%;float: left;line-height: 37px;padding-left: 10px; padding-right: 10px;}
.list5   {  width: 50%;float: left;line-height: 37px;padding-left: 10px; padding-right: 10px;}
.list5-5 {  width: 55%;float: left;line-height: 37px;padding-left: 10px; padding-right: 10px;}
.list6   {  width: 60%;float: left;line-height: 37px;padding-left: 10px; padding-right: 10px;}
.list6-5 {  width: 65%;float: left;line-height: 37px;padding-left: 10px; padding-right: 10px;}
.list7   {  width: 70%;float: left;line-height: 37px;padding-left: 10px; padding-right: 10px;}
.list7-5 {  width: 75%;float: left;line-height: 37px;padding-left: 10px; padding-right: 10px;}
.list8   {  width: 80%;float: left;line-height: 37px;padding-left: 10px; padding-right: 10px;}
.list8-5 {  width: 85%;float: left;line-height: 37px;padding-left: 10px; padding-right: 10px;}
.list9   {  width: 90%;float: left;line-height: 37px;padding-left: 10px; padding-right: 10px;}
.list9-5 {  width: 95%;float: left;line-height: 37px;padding-left: 10px; padding-right: 10px;}
.list10  {  width: 100%;float: left;line-height: 37px;padding-left: 10px; padding-right: 10px;}


/*排行标签页*/
.rankTab {
  text-align: center;
}
  /*偶数行背景*/
.rankListBg {
  background-color: #f8f8f8;
}
.rankTab ul.nav-tabs {
  background-color: #fff;
  border-bottom: none;
  height: 45px;
}
.rankTab ul.nav-tabs>li {
  width: 33.33%;
  text-align: center;
}
.rankTab ul.nav-tabs>li a {
  display: inline-block;
  color: #333;
  height: 45px;
  line-height: 45px;
  padding: 0;
  margin: 0 30px;
  font-size: 16px;
  width: 33.33%;
  border-bottom:3px solid transparent;
}
.rankTab ul.nav-tabs>li.active a {
  color: #db1011;
  border-bottom:3px solid #db1011;
  text-align: center;
  background-color: #fff;
  font-weight: 600;
}
.form-group input {
  width: 400px;
  padding: 0 0 0 12px;
  height: 26px;
  line-height: 26px;
}
/*placeholder*/
.placeholder {
  position: absolute;
  /*float: right;*/
  color: #aaa;
  cursor: text;
  z-index: 1;
  /*left: 40px;*/
}
/*暂无数据*/
.result{
  color: #333;
  font-weight: bold;
  font-size: 40px;
  font-family: 黑体;
  text-align: center;
  line-height: 250px;
  /*margin-left: -250px;*/
}

/*排行前三背景*/
.rankFirstBg {
  background: url("../images/rankOne.png") center no-repeat;
}
.rankSecondBg {
  background: url("../images/rankTwo.png") center no-repeat;
}
.rankThirdBg {
  background: url("../images/rankThree.png") center no-repeat;
}
/*margin*/
.mar_top_5 {
  margin-top: 5px;
}
.mar_top_10 {
  margin-top: 10px;
}
.mar_top_12 {
  margin-top: 12px;
}
.mar_top_15 {
  margin-top: 15px;
}
.mar_top_20 {
   margin-top: 20px;
 }
.mar_top_34 {
  margin-top: 34px;
}
.mar_top_40 {
  margin-top: 40px;
}
.mar_left_14 {
  margin-left:14px;
}
.mar_left_10 {
  margin-left:10px;
}
.mar_left_15 {
  margin-left:15px;
}
.mar_left_20 {
  margin-left:20px;
}
.mar_left_24 {
   margin-left:24px;
 }
.mar_left_30 {
  margin-left:30px;
}
.mar_left_45 {
  margin-left:45px;
}
.mar_right_10 {
  margin-right:10px;
}
.mar_right_12 {
  margin-right:12px;
}
.mar_right_20 {
  margin-right:20px;
}
.mar_bottom_20 {
  margin-bottom:20px;
}
/*paddingleft*/
.pad_left_10 {
  padding-left: 10px;
}
.pad_left_15 {
  padding-left: 15px;
}
.pad_left_16 {
  padding-left: 16px;
}
.pad_left_20 {
  padding-left: 20px;
}
.pad_left_25 {
  padding-left: 25px;
}
.pad_left_35 {
  padding-left: 35px;
}
.pad_left_45 {
  padding-left: 45px;
}
.pad_right_10 {
  padding-right: 10px;
}
.pad_right_15 {
  padding-right: 15px;
}
.pad_right_20 {
  padding-right: 20px;
}
.pad_right_30 {
  padding-right: 30px;
}
.pad_top_20 {
  padding-top: 20px;
}


.ajax-error{
  background: url("../images/modulebaseload.gif") 50% 50% no-repeat;
}
