/*分页*/
.page-list .pagination {float:left; margin: 10px 0 10px 10px;}
.page-list .pagination span {cursor: pointer;  color: #333;}
.page-list .pagination .separate span{cursor: default; border-top:none;border-bottom:none;}
.page-list .pagination .separate span:hover {background: none;}
.page-list .page-total {float:left; margin: 10px 10px;  height: 28px;line-height:28px;}
.page-list .page-total input, .page-list .page-total span{height: 28px;float: left;}
.page-list .page-total input {width: 40px; padding-left:3px; border: 1px solid #ddd;}
.page-list .page-total select {width: 50px;}
.page-list .page-total button.btn-default {color: #000;float: left;  background-color: #e0e0e0;  margin-left:5px;  padding: 0; height: 28px;width: 40px;}
.pagination>.active>span {background-color: #db1011; border-color: #f50001;color:#fff;}
.pagination>.active>span:hover {background-color: #db1011; border-color: #f50001;color:#fff;}
.pagination>li>span:hover {
  color: #333;
}
.pagination li.disabled span {
  color: #777;
}
.page-list .pagination > li > span {
  padding: 4px 10px;
}
.pagination > .active > span:focus {
  background-color: #db1011;
  border-color: #f50001;
}
