
<!--文章列表-->
<div class="articleList tmBorder-green">
  <ol class="breadcrumb">
    <li class="currentPosition">您的当前位置:</li>
    <li><a ui-sref="main">首页</a></li>
    <li class="active">文章列表</li>
  </ol>
  <div class="articleListSearch">
    <input type="text" ng-model="searchTitle" my-placeholder placeholder="请输入搜索关键词">
    <input type="button" value="搜索" ng-click="refreshList({page:1,search:searchTitle})">
  </div>
  <div dw-loading="articleList">
    <div class="articleListHeader">
      <h1 ng-show="articleListData.CategoryName">{{articleListData.CategoryName}}</h1>
      <h1 ng-hide="articleListData.CategoryName">{{articleListData.TitleNav}}</h1>
    </div>
    <table class="table" ng-show="paginationConf.totalItems">
      <tr>
        <th class="titleName">文章名称</th>
        <th class="titleDate">发布日期</th>
      </tr>
      <tr ng-repeat="listData in articleListData.ListData | filter:{Name:search}">
        <td><img src="images/arrow.png" alt=""><a ui-sref="articleDetail({ID:listData.Id})" title="{{listData.Name}}" target="_blank">{{listData.Name}}</a></td>
        <td class="listDate">{{listData.CreateDate | dateFilter | date:'yyyy/MM/dd-HH:mm:ss'}}</td>
      </tr>
    </table>
    <div ng-show="paginationConf.totalItems" class="mar_top_5" tm-pagation conf="paginationConf"></div>
    <p ng-show="!paginationConf.totalItems" class="result">暂无数据</p>
  </div>
</div>
<style>
  .articleList .titleName{
    width: 500px;
  }
  .articleList th{
    font-weight: bold;
  }
  .articleList td img{
    margin: 0 10px;
  }
  .articleList td a{
    display: inline-block;
    width: 458px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .articleList td img,.articleList td a{
    vertical-align: middle;
  }
  .articleList .titleName,.articleList .titleDate,.articleList .listDate{
    text-align: center;
  }
  .articleListSearch{
    margin-left: 40px;
    margin-bottom: 20px;
    line-height: 26px;
  }
  .articleListSearch input[type="text"]{
    width: 300px;
    padding-left: 10px;
  }
  .articleListSearch input[type="button"]{
    padding: 0 10px;

  }
  .articleListSearch input[type="text"],
  .articleListSearch input[type="button"]{
    border-radius: 5px;
    outline: none;
    border:1px solid #e5e5e5;
  }
  .articleListHeader > h1{
    line-height:49px;
    padding-left: 49px;
    font-size: 22px;
    color: #000;
  }
</style>
