
<div class="slideBar">
  <div class='hoverBtn'>
    <span>用</span>
    <span>户</span>
    <span>素</span>
    <span>质</span>
    <span>维</span>
    <span>度</span>
    <img class="hoverimg" src="../images/hoverbtnbg.gif">
  </div>
  <div class="chart">
    <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
    <div id="main" style="width: 400px;height:450px;"></div>
  </div>
  <p class="chartBottom">注：根据学员素质自动生成</p>
</div>


<style>
  .slideBar {
    width: 430px;
    height: 554px;
    position: fixed;
    right: -430px;
    top:50%;
    background: #fff;
    border:1px solid #cdcdcd;
    box-shadow: 0px 0px 8px #cdcdcd;
    z-index: 99999;
    transition: all .5s ease;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .slideBar .hoverBtn {
    width: 30px;
    padding-top: 20px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -66px;
    left: -30px;
    font-size: 14px;
    color: #fff;
    background: #94dde1;
    -webkit-border-radius: 3px 0px 0px 3px;
    -moz-border-radius: 3px 0px 0px 3px;
    -o-border-radius: 3px 0px 0px 3px;
    border-radius: 3px 0px 0px 3px;
  }
  .slideBar .hoverBtn span{
    float: left;
    display: inline-block;
    width: 30px;
    height: 19px;
    line-height: 19px;
    text-align: center;
    overflow: hidden;
  }

  .slideBar .hoverBtn .hoverimg {
    float: left;
    width: 13px;
    height: 9px;
    margin: 10px 0px 10px 10px;
    display: inline-block;
    background-repeat: no-repeat;
  }
  .slideBar .chart {
    position: absolute;
    margin-left: 15px;
    top: 45%;
    *margin-top: -115px;
    margin-top: -225px;
  }
  .chartBottom {
    position: absolute;
    bottom: 30px;
    left: 20px;
    font-size: 16px;
    font-weight: 500;
  }
</style>
