<!--修改信息-->
<div class="modifyPassword tmBorder-green">
    <ol class="breadcrumb">
        <li class="currentPosition">您的当前位置:</li>
        <li><a ui-sref="main">首页</a></li>
        <li><a ui-sref="personalCenter">个人中心</a></li>
        <li class="active">修改信息</li>
    </ol>
    <div class="change-user-info" dw-loading="changeUserInfo">
        <form role="form" name="form">
            <div class="form-group change-user-info-form">
                <ul>
                    <li>
                        <span class="control-label grid_6 text-right" style="line-height: 34px">账号：</span>
                        <span class="grid_6 info">{{userInfo.Account}}</span>
                    </li>
                    <li>
                        <span class="control-label grid_6 text-right" style="line-height: 34px">姓名：</span>
                        <span class="grid_6 info">{{userInfo.Name}}</span>
                    </li>
                    <li>
                        <span class="control-label grid_6 text-right" style="line-height: 34px">性别：</span>
                        <div class="grid_6 info">
                            <input type="radio" name="sex" ng-model="sex" value="1" ng-checked="userInfo.Sex==1">男
                            <input type="radio" name="sex" ng-model="sex" value="0"  ng-checked="userInfo.Sex==0">女
                        </div>
                    </li>
                    <li>
                        <span class="control-label grid_6 text-right" style="line-height: 34px">部门：</span>
                        <span class="grid_6 info">{{userInfo.GroupName}}</span>
                    </li>
                    <li>
                        <span class="control-label grid_6 text-right" style="line-height: 26px">职位：</span>
                        <!--<span class="grid_6 info">{{userInfo.Grade}}</span>-->
                        <select class="form-control grid_3" name="grade" ng-model="Grade" ng-options="item.Id as item.Name for item in gradeList">
                            <option value="">{{initGrade}}</option>
                        </select>
                    </li>
                    <li>
                        <span class="control-label grid_6 text-right" style="line-height: 26px">职务：</span>
                        <input type="text" ng-model="Business" name="business"
                               class="form-control grid_6"
                               my-placeholder
                               placeholder="例：老师"
                        />
                    </li>
                    <li class="change-user-info-input mar_top_5">
                        <span class="control-label grid_6 text-right" style="line-height: 26px">电话：</span>
                        <input type="tel" ng-model="Tel" name="tel"
                               class="form-control grid_6"
                               my-placeholder
                               placeholder="例：0571-88776655"
                        />
                    </li>
                    <li class="change-user-info-input mar_top_5">
                        <span class="control-label grid_6 text-right" style="line-height: 26px">手机：</span>
                        <input type="tel" ng-model="Mobile" name="mobile"
                               class="form-control grid_6"
                               my-placeholder
                               placeholder="例：123-4567-8901"
                        />
                    </li>
                  <!--<li class="change-user-info-input mar_top_5">
                    <span class="control-label grid_6 text-right" style="line-height: 26px">验证码：</span>
                    <input ng-blur="outFocus()" ng-model="smgcode"
                           type="text" class="form-control  grid_3" my-placeholder
                           id="verificationCode" placeholder="请输入验证码">
                    <button ng-click="sendVerificationCode(Mobile)" class="btn btn-success verificationCode">{{paracont}}</button>
                  </li>-->
                    <li class="change-user-info-input mar_top_5">
                        <span class="control-label grid_6 text-right" style="line-height: 26px">Email：</span>
                        <input type="tel" ng-model="Email" name="email"
                               class="form-control grid_6"
                               my-placeholder
                               placeholder="例：example@email.com"
                        />
                    </li>
                    <li class="change-user-info-input mar_top_5">
                        <span class="control-label grid_6">&nbsp;</span>
                         <button class="btn grid_6 btn-success" ng-click="changeUser()" > 提交</button>
                    </li>
                </ul>

            </div>
            <!--<div class="preventorgery"></div>-->
        </form>
    </div>

</div>
<style>
    .change-user-info-form{
        height: 336px;
        display: table-cell;
        vertical-align: middle;
    }
    .change-user-info .info{
        line-height: 34px;
        text-align: center;
    }
    .change-user-info .info input{
        width:auto;
        height:auto;
    }
    .change-user-info select{
        width:auto;
        height:26px;
        line-height: 26px;
        padding: 0 0 0 12px;
    }
    .change-user-info-form li{
        display: block;
        height: 40px;
    }
    .modifyPassword .verificationCode {
      padding: 2px 12px;
      margin-left: 10px;
    }
</style>




