<!--班级模块-->
<div class="classMy mar_top_20">
  <div class="com-header">
    <p class="title">
      <img src="../images/headerLeftIcon.png" alt="图标">
      {{classMyData.TitleNav}}
    </p>
    <p class="more">
      <a ui-sref="classlist({type:classType})" target="_self"><img src="../images/more.png" alt="更多"></a>
    </p>
  </div>
  <div class="tmBorder">
    <div class="myClass" dw-loading="classMy">
      <div class="list listTitle">
        <span class="list5">班级名称</span>
        <span class="list5">学员人数</span>
      </div>
      <div class="list" title="{{classList.Name}}" ng-repeat="classList in classMyData.ListData">
        <span class="list5"><a ui-sref="classDetail({Id:classList.Id})">{{classList.Name}}</a></span>
        <span class="list5">{{classList.CurrentUser}}</span>
      </div>
    </div>
  </div>
</div>
