<!--我的论文-->
<div class="trainingCenter ">
  <div class="com-header clearfix">
    <p class="title pull-left">
      <img src="../images/headerLeftIcon.png" alt="图标">
      {{classPaperListData.TitleNav}}
    </p>
  </div>
  <div class="tmBorder">
    <ol class="breadcrumb">
      <li class="currentPosition">您的当前位置:</li>
      <li><a ui-sref="main">首页</a></li>
      <li><a ui-sref="specialTrainingCourse">专题培训班</a></li>
      <li><a ui-sref="classDetail({Id:Id})">{{classPaperListData.TrainingName}}</a></li>
      <li class="active">{{classPaperListData.TitleNav}}</li>
    </ol>
    <div class="trclasstitle text-center tmBorder-red" dw-loading="classPaperList">
      <h2>{{classPaperListData.TitleNav}}</h2>
      <div class="myTab">
        <div class="tab-content">
          <div class="tab-panel perlist">
            <div class="title_bar clearfix">
              <span class="list1">论文标题</span>
              <span class="list2">作者</span>
              <span class="list2">发布时间</span>
            </div>
            <span ng-show="classPaperListData.ListData.length==0"
                  class="list1 cur_name" style="line-height: 32px">暂无数据！</span>
            <div class="list" ng-repeat="list in classPaperListData.ListData">
              <p class="clearfix">
                <span class="list1 cur_name"><a ui-sref="classArticleDetail({Id:list.Id})"
                                                target="_blank">{{list.Name}}</a></span>
                <span class="list2" ng-if="list.Author">{{list.Author}}</span>
                <span class="list2" ng-if="!list.Author">暂无数据</span>
                <span class="list2">{{list.CreatedDate |dateFilter | date:'yy-MM-dd'}}</span>
              </p>
            </div>
            <div ng-show="classPaperListData.ListData.length!==0" ng-transclude="pagation"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<style>
  h2 {
    margin: 10px 0;
  }

  .myTab .perlist .list1 {
    width: 40%;
    height: 37px;
  }

  .myTab .perlist .list .list1 {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 10px;
  }

  .myTab .perlist .list2 {
    width: 20%;
  }

  .myTab .perlist .list3 {
    width: 26%;
    float: left;
    margin: 5px 20px;
  }

  .myTab .perlist .list3 img {
    width: 80%;
    border-radius: 3px;

  }

  .myTab .perlist .list3 span {
    display: block;
  }
</style>

