<!--课程点击排行-->
<div class="courseRankingList" dw-loading="courseRankingList">
  <div class="com-header clearfix">
    <p class="title pull-left">
      <img src="../images/headerLeftIcon.png" alt="图标">
      课程排行
    </p>
    <p class="more pull-right">
      <a ui-sref="rankcourseclick" target="_blank"><img src="../images/more.png" alt="更多"></a>
    </p>
  </div>
  <div class="tmBorder">
    <p class="rankTitle clearfix">
      <span class="list1">排行</span>
      <span class="list2">课程名称</span>
      <span class="list3">点击数</span>
    </p>
    <ul class="rankingList clearfix" ng-repeat="rankingData in courseRankingList.ListData">
      <li class="list1">
        <span ng-if="$index<3" ng-class="{'rankFirstBg':$index==0,'rankSecondBg':$index==1,'rankThirdBg':$index==2}"></span>
        <span ng-if="$index>=3">{{$index+1}}</span>
      </li>
      <li class="list2" title="{{rankingData.Name}}"><a ui-sref="courseDetails({Id:rankingData.Id})" target="_blank">{{rankingData.Name}}</a>
      </li>
      <li class="list3">{{rankingData.Total}}</li>
    </ul>
  </div>
</div>
<style>
  .courseRankingList {
    text-align: center;
  }
  .courseRankingList .rankTitle {
    width: auto;
    background-color: #f8f8f8;
  }
  .courseRankingList .rankingList li {
    height: 44px;
    line-height: 44px;
  }
  .courseRankingList .rankTitle span {
    height: 48px;
    line-height: 48px;
  }
  .courseRankingList .rankTitle span, .courseRankingList .rankingList li {
    float: left;
  }
  .courseRankingList .list1 {
    width: 20%;
  }
  .courseRankingList .rankingList .list1 span {
    display: inline-block;
    width: 100%;
    height: 44px;
  }
  .courseRankingList .list1 {
    /*padding-left: 15px;*/
  }
  .courseRankingList .list2 {
    width: 60%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
  }
  .courseRankingList .rankTitle .list2 {
    text-align: center;
  }
  .courseRankingList .list3 {
    width: 20%;
  }
</style>
