<!--课程点击排行-->
<div class="courseRankingList"  dw-loading="courseRankingList">
  <div class="com-header clearfix">
    <p class="title pull-left">
      <img src="../images/headerLeftIcon.png" alt="图标">
      课程排行
    </p>
    <p class="more pull-right">
      <a ui-sref="rankcourseclick" target="_blank"><img src="../images/more.png" alt="更多"></a>
    </p>
  </div>
  <p class="courseRankingtitle clearfix">
    <span class="rank1">排行</span>
    <span class="rank2">课程名称</span>
    <span class="rank3">点击数</span>
  </p>
  <ul class="rankingList" ng-repeat="rankingData in courseRankingList.ListData">
    <li class="list1">{{$index+1}}</li>
    <li class="list2" title="{{rankingData.Name}}"><a ui-sref="courseDetails({Id:rankingData.Id})" target="_blank">{{rankingData.Name}}</a></li>
    <li class="list3">{{rankingData.Total}}</li>
  </ul>
</div>
<style>
  .courseRankingList {
  }
  .courseRankingList h4 {
    line-height: 52px;
    text-align: center;
  }
  .courseRankingList .rankingList{
    width: 265px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-left: 10px;
  }
  .courseRankingList .courseRankingtitle {
    margin-bottom: 10px;
    width: auto;
    background-color: #f8f8f8;
  }
  .courseRankingList .courseRankingtitle span{
    height: 48px;
    line-height: 48px;
  }
  .courseRankingList .courseRankingtitle span ,.courseRankingList .rankingList li{
    float: left;
  }
  .courseRankingList .courseRankingtitle .rank1,.courseRankingList .rankingList .list1{
    width: 60px;
    text-align: left;
    padding-left: 10px;
  }
  .courseRankingList .courseRankingtitle .rank2,.courseRankingList .rankingList .list2{
    width: 130px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .courseRankingList .courseRankingtitle .rank3,.courseRankingList .rankingList .list3{
    width: 60px;
    text-align: right;
  }

  .courseRankingList .rankingList .list2{
    text-align: left;
  }
  .courseRankingList .rankingList .list3{
    text-align: center;
  }
  .courseRankingList .courseRankingtitle .rank2{
    padding-right: 60px;
  }
</style>
