<!--@*课程详情*@-->
<div class="courseDetails">
  <div class="com-header clearfix">
    <p class="title pull-left">
      <img src="../images/headerLeftIcon.png" alt="图标">
      {{courseDetailsData.CourseModel.Name}}
    </p>
  </div>
  <div class="tmBorder">
    <ol class="breadcrumb">
      <li class="currentPosition">您的当前位置:</li>
      <li><a ui-sref="main">首页</a></li>
      <li><a ui-sref="courseCenter">课程中心</a></li>
      <li class="active">{{courseDetailsData.CourseModel.Name}}</li>
    </ol>
    <div class="long cur_center" dw-loading="courseDetails">
      <div class="titlebg2">
        <div class="txt">
          课程信息
        </div>
      </div>
      <div class="content cur_detail">
        <table class="table table-bordered">
          <tbody>
          <tr>
            <td class="listtb1">
              <span>课程名称：</span>
            </td>
            <td class="listtb2 cur_title">
              <strong>{{courseDetailsData.CourseModel.Name}}</strong>
              <a ng-if="courseDetailsData.CourseModel.FavoriteId==0" ng-click="favoriteAdd({mainId:courseDetailsData.CourseModel.Id,type:'Course',title:courseDetailsData.CourseModel.Name,remark:'0'},token);" href="javascript:;" class="red favoriteadd">[收藏]</a>
              <a ng-if="courseDetailsData.CourseModel.FavoriteId!=0" ng-click="favoriteDelete({id:courseDetailsData.CourseModel.FavoriteId},token);" href="javascript:;" class="red favoritedel">[取消收藏]</a>
              <!--<div class="preventorgery"></div>-->
            </td>
            <td class="listtb3">
              <span>学员评分：</span>
            </td>
            <td class="listtb4">
              <span class="star" style="background-position-x: -{{courseDetailsData.CourseModel.StudentGrade*121}}px;"></span><span style="color:#EA4646 !important">{{courseDetailsData.CourseModel.StudentGrade}}</span>
            </td>
          </tr>
          <tr>
            <td class="listtb1">
              <span>课程分类：</span>
            </td>
            <td class="listtb2">
              <a ui-sref="courseCenter({channelId:courseDetailsData.CourseModel.ChannelId})">{{courseDetailsData.CourseModel.ChannelName}}</a>
            </td>
            <td class="listtb3">
              <span>评论：</span>
            </td>
            <td class="listtb4"><span>已有<span style="color:#EA4646 !important">{{courseDetailsData.Count}}</span>条评论</span></td>
          </tr>
          <tr>
            <td class="listtb1">
              <span>课程教师：</span>
            </td>
            <td class="listtb2">
              <span>{{courseDetailsData.CourseModel.Teacher}}</span>
            </td>
            <td class="listtb3">
              <span>课程学时：</span>
            </td>
            <td class="listtb4"><span style="color:#EA4646 !important">{{courseDetailsData.CourseModel.Credit}}</span></td>
          </tr>
          <tr>
            <td class="listtb1">
              <span>时长：</span>
            </td>
            <td class="listtb2">
              <span style="color:#EA4646 !important">{{courseDetailsData.CourseModel.Duration}}</span>
            </td>
            <td class="listtb3">
              <span>参加测试：</span>
            </td>
            <td class="listtb4">
              <a ng-if="courseDetailsData.CourseModel.ExamId!=0"  ng-click="havTest(courseDetailsData.CourseModel.ExamId)" class="red">参加测试</a>
              <span ng-if="courseDetailsData.CourseModel.ExamId==0" class="black" ng-if="courseDetailsData.CourseModel.ExamId">无</span>
            </td>
          </tr>
          <tr>
            <td class="listtb1">
              <span>进度：</span>
            </td>
            <td class="listtb2">
              <div class="progress">
                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="{{courseDetailsData.CourseModel.BrowseScore}}" aria-valuemin="0" aria-valuemax="100" ng-style="{'width':courseDetailsData.CourseModel.BrowseScore+'%'};">
                  {{courseDetailsData.CourseModel.BrowseScore>0?courseDetailsData.CourseModel.BrowseScore.toFixed(1):0.0}}%
                </div>
              </div>
            </td>
            <td class="listtb3">
              <span>播放：</span>
            </td>
            <td class="listtb4" >
              <a ng-if="courseDetailsData.CourseModel.BrowseScore>=0" ui-sref="play({Id:courseDetailsData.CourseModel.Id})" target="_blank" class="red">播放</a>
              <a ng-if="courseDetailsData.CourseModel.BrowseScore < 0" ng-click="selectClass(courseDetailsData.CourseModel.Id);" class="red favoritedel">选课并播放</a>
            </td>
          </tr>
          <tr>
            <td class="listtb1">
              <span>课程简介：</span>
            </td>
            <td colspan="3" class="listtb5">
              <div class="curinfo">
                <p ng-if="courseDetailsData.CourseModel.Description">{{courseDetailsData.CourseModel.Description}}</p>
                <p ng-if="!courseDetailsData.CourseModel.Description">无</p>
              </div>
            </td>
          </tr>
          <tr>
            <td class="listtb1">
              <span>课程节点:</span>
            </td>
            <td colspan="3" class="listtb5">
              <div class="jiedian">
                <div class="bar"><span class="number">节点编号</span><span class="name">节点名称</span><span class="tishi">（注：灰色为已学，红色为未学）</span></div>
                <div class="jdcontext">
                  <ul class="clearfix">
                    <li ng-repeat="nodeList in courseDetailsData.ListData">
                      <span ng-hide="nodeList.IsFinish"> <span class="number" style="color:#EA4646 !important">{{nodeList.Code}}</span><span class="name" style="color:#EA4646 !important">{{nodeList.Name}} </span> </span>
                      <span ng-show="nodeList.IsFinish"> <span class="number" style="color:#999 !important">{{nodeList.Code}}</span><span class="name" style="color:#999 !important">{{nodeList.Name}} </span> </span>
                    </li>
                  </ul>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<style>
  .listtb2 .progress {
    width: 150px;
  }
  .listtb3 a{
    color: #3490f8;
    text-decoration: underline;
  }
  .listtb1 {
    width: 20%;
    text-align: right;
  }
  tbody > tr > td.listtb1,tbody > tr > td.listtb3{
    padding-right: 25px;
  }
  .listtb2 {
    width: 40%;
  }
  .listtb3 {
    width: 20%;
    text-align: right;
  }
  .listtb4 {
    width: 20%;
  }
  .listtb5 .jiedian {

  }
  .listtb5 .bar {
    font-size: 15px;
  }
</style>
