<!--@*bottom*@-->
<div class="footer container_24">
  <div class="footerBg">
    <p>Copyright@2012泸州市人力资源和社会保障局 All Right Reserved .</p>
  </div>
  <div class="footerBottom clearfix">
    <div class="bottomLeft pull-left">
      <h4 class="one">联系地址：四川泸州黄孝河路69号</h4>
      <h4 class="two">联系电话：0830 - 3603227 0830 - 2645809</h4>
      <p>川公网安备 51050202000223号</p>
      <p>主办单位：泸州市人力资源和社会保障局 &nbsp;&nbsp;承办单位：泸州市转业军官培训中心</p>
      <p>技术支持：杭州精英在线教育科技股份有限公司 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;电话：(0571)28990788</p>
    </div>
    <p class="pull-left">友情链接</p>
    <ul class="bottomTight pull-left">
      <li ng-repeat="linkData in firenlyLinkData">
        <a target="_blank" ng-href="{{linkData.Url}}">
          <span class="link">{{linkData.Name}}</span>
          <span class="array"> > </span></a>
      </li>
    </ul>
  </div>
</div>

<style>
  .footer {
    width: 1080px;
    margin: 34px auto 0;
    position: relative;
    left: -10px;
  }
  .footer .footerBg {
    height: 50px;
    background-color: #afafaf;
  }
  .footer .footerBg p{
    line-height: 50px;
    font-size: 16px;
    color: #ededed;
    margin-left: 44px;
  }
  .footerBottom {
    /*height: 140px;*/
    background-color: #eee;
  }
  .footerBottom .bottomLeft {
    padding-left: 44px;
    width: 500px;
  }
  .footerBottom .bottomLeft h4 {
    font-size: 14px;
    color: #454545;
    font-weight: normal;
  }
  .footerBottom .bottomLeft h4.one{
    padding-top: 10px;
  }
  .footerBottom .bottomLeft h4.two{
    margin-top: 10px;
  }
  .footerBottom .bottomLeft p {
    margin-top: 5px;
    color: #8f8f8f;
    font-size: 12px;
  }

  .footerBottom p.pull-left {
    color: #8f8f8f;
    height: 140px;
    line-height: 140px;
    font-size: 12px;
  }
  .footerBottom .bottomTight {
    width: 500px;
    margin-top: 28px;
    margin-left: 10px;
    font-size: 12px;
  }
  .footerBottom .bottomTight li {
    text-align: left;
    float: left;
    width: 162px;
    height: 27px;
    margin: 0 3px 3px 0;
    text-align: center;
    background-color: #f9f9f9;
  }
  .footerBottom .bottomTight li a {
    display: inline-block;
    line-height: 27px;
    text-align: left;
    padding-left: 10px;
    height: 27px;
    color: #454545;
    font-size: 12px;
  }
  .footerBottom .bottomTight li a:hover {
    color: #62a3db;
  }
  .footerBottom .bottomTight li a span.array {
    float: left;
    padding-right: 6px;
  }

  .footer ul li a span.link{
    float: left;
    width: 137px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
</style>
