<!--忘记密码-->
<div class="forgetPassword tmBorder-green">
  <ol class="breadcrumb" style="margin-bottom: 0;">
    <li class="currentPosition">您的当前位置:</li>
    <li><a ui-sref="main">首页</a></li>
    <li class="active">找回密码</li>
  </ol>
  <div class="titlebg2"  dw-loading="forgetPassword">
    <div class="txt">找回密码</div>
    <div class="center" ng-show="showAccount">
      <span>请输入账号：</span>
      <input type="text" ng-model="account">
      <button class="btn btn-danger" ng-click="submitAccount(account)">提交</button>
    </div>
    <div class="center" ng-hide="showAccount">
      <input type="text" disabled ng-model="question">
      <input type="text" ng-model="answer">
      <button class="btn btn-danger" ng-click="submitQuestion(answer)">提交</button>
    </div>
  </div>
</div>
<style>
  .center {
    text-align: center;
    margin-bottom: 20px;
    min-height: 200px;
  }
  .center .btn {
    padding: 1px 13px;
  }
</style>
