<!--@*bottom*@-->
<div class="footer mar_top_20">
  <div class="container_24">
    <div class="com-header clearfix">
      <p class="title pull-left">
        <img src="../images/headerLeftIcon.png" alt="图标">
        友情链接
      </p>
      <!--<p class="more pull-right"><img src="../images/more.png" alt="更多"></p>-->
    </div>
    <div class="imgLink">
      <ul class="clearfix">
        <li class="pull-left"><a href="http://www.hngbwlxy.gov.cn" target="_blank"><img src="../images/linkLogo1.png" alt=""></a></li>
        <li class="pull-left"><a href="http://www.hngbzs.com" target="_blank"><img src="../images/linkLogo2.png" alt=""></a></li>
        <li class="pull-left"><a href="http://www.bhgbzx.gov.cn" target="_blank"><img src="../images/linkLogo3.png" alt=""></a></li>
        <li class="pull-left"><a href="http://www.hngbzx.com" target="_blank"><img src="../images/linkLogo4.png" alt=""></a></li>
        <li class="pull-left"><a href="http://www.zjce.gov.cn" target="_blank"><img src="../images/linkLogo5.png" alt=""></a></li>
        <li class="pull-left last"><a href="http://www.hngbwlxy.gov.cn" target="_blank"><img src="../images/linkLogo6.png" alt=""></a></li>
      </ul>
    </div>
    <div class="friendlyLink" dw-loading="friendlyLink">
      <select ng-model="$parent.linkNode" ng-repeat="friendlyLink in firenlyLinkData" ng-options="item.Name for item in friendlyLink.Nodes">
        <option value="">---{{friendlyLink.Name}}---</option>
      </select>
    </div>
  </div>
  <div class="footerBg">
    <div class="foot_con">
      <p>主办单位：网络教育学院  &nbsp;&nbsp;&nbsp;承办单位：网络教育学院 &nbsp;&nbsp;&nbsp; 联系电话：(0000)8888088888  &nbsp;&nbsp;&nbsp;杭州精英在线教育科技股份有限公司</p>
      <p>Copyright © 2010-2017 TOPVE Design All rights reserved. 浙ICP备06005845号</p>
      <p>建议使用：1024*768分辨率，16位以上颜色，IE8.0以上版本浏览器和中文大字符集web4</p>
    </div>
  </div>
</div>

<style>
  .footer {

  }
  .footer .imgLink {
    margin: 23px 0;
  }
  .footer .imgLink li{
    margin-right: 14px;
  }
  .footer .imgLink li.last{
    margin-right: 0;
  }

  .friendlyLink{
    text-align: center;
    margin: 0px auto 24px;
  }
  .friendlyLink select{
    text-align: center;
    margin:0 10px;
  }
  .footer .footerBg {
    height: 156px;
    background-color: #ebebeb;
    padding: 40px 0 40px 0;
    text-align: center;
  }
  .foot_con{
    width:1200px;
    margin: 0 auto;
  }
  .footer .footerBg p{
    line-height: 32px;
    font-size: 12px;
    color: #999;
    margin-left: 30px;
  }

</style>
