<div class="guideEntry mar_left_20">
  <ul>
    <li>
      <a target="_blank" href="javascript:;" class="professionals">
        <h4>专业技术人员培训入口</h4>
        <p>Entrance of Professionals Training</p>
      </a>
    </li>
    <li>
      <a target="_blank" ui-sref="main" class="servants">
        <h4>公务员培训入口</h4>
        <p>Entrance of civil servants</p>
      </a>
    </li>
  </ul>
</div>

<style>
  .guideEntry {

  }
  .guideEntry a {
    text-decoration: none;
    display: inline-block;
    padding-left: 84px;
    height: 80px;
    width: 360px;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  .guideEntry a h4{
    margin-top: 25px;
    color: #323232;
    font-size: 16px;
    font-weight: 600;
  }
  .guideEntry a p{
    font-size: 15px;
    color: #7f7f7f;
  }
  .guideEntry a.professionals{
    background: url("images/icon_guide_view_07.png") 26px center no-repeat,
    url("images/guideViewArror_03.png") no-repeat 340px center  #f5f8fd;
    background: url("images/icon_guide_view_07.png") 26px center no-repeat #f5f8fd;
  }
  .guideEntry a.professionals:hover{
    background: url("images/icon_guide_view_07.png") 26px center no-repeat,
    url("images/guideViewArror_07.png") no-repeat 340px center #e6edf7;
    background-color:#e6edf7;
  }
  .guideEntry a.servants{
    background: url("images/icon_guide_view_11.png") 26px center no-repeat,
    url("images/guideViewArror_03.png") no-repeat 340px center  #f5f8fd;
    background: url("images/icon_guide_view_11.png") 26px center no-repeat #f5f8fd;
  }
  .guideEntry a.servants:hover{
    background: url("images/icon_guide_view_11.png") 26px center no-repeat,
    url("images/guideViewArror_07.png") no-repeat 340px center #e6edf7;
    background-color:#e6edf7;
  }
</style>
