<!--修改密码-->
<div class="modifyPassword">
  <div class="com-header clearfix">
    <p class="title pull-left">
      <img src="../images/headerLeftIcon.png" alt="图标">
      修改密码
    </p>
  </div>
  <div class="tmBorder">
    <ol class="breadcrumb">
      <li class="currentPosition">您的当前位置:</li>
      <li><a ui-sref="main">首页</a></li>
      <li><a ui-sref="personalCenter">个人中心</a></li>
      <li class="active">修改密码</li>
    </ol>
    <div class="modify-password">
      <form role="form">
        <div class="form-group modify-password-form">
          <ul>
            <input type="password" autocomplete="off" style="display: none">
            <li class="mar_top_15">
              <span class="control-label grid_6 text-right">旧密码：</span>
              <input id="txtOldPwd" ng-model="txtOldPwd" ng-required="true"
                     class="inputPWD form-control grid_6" name="OldPwd"
                     type="password" autocomplete="off"
                     my-placeholder
                     placeholder="请输入原密码"/>
            </li>
            <li class="mar_top_15">
              <span class="control-label grid_6 text-right">新密码：</span>
              <input id="txtNewPwd" ng-model="txtNewPwd" ng-required="true"
                     class="inputPWD form-control grid_6" name="NewPwd"
                     type="password" autocomplete="off"
                     my-placeholder
                     placeholder="请输入新密码"/>
            </li>
            <li class="mar_top_10">
              <span class="control-label grid_6 text-right">重复新密码：</span>
              <input id="txtRepeatNewPwd" ng-model="txtRepeatNewPwd" ng-required="true"
                     class="inputPWD form-control grid_6" name="RepeatNewPwd"
                     type="password" autocomplete="off"
                     my-placeholder
                     placeholder="请输入确认密码"/>
            </li>
            <li class="mar_top_10">
              <button class="btn btn-danger" ng-click="modifyPwd()">确定</button>
            </li>
            <li class="mar_top_10">
              <a ui-sref="securitySetting" class="btn btn-primary">设置密保</a>
            </li>
          </ul>

          </span>

        </div>
      </form>
    </div>
  </div>

</div>
<style>
  .modify-password-form {
    height: 336px;
    display: table-cell;
    vertical-align: middle;
  }

  .modify-password span {
    line-height: 26px;
  }

  .modify-password-form li {
    display: block;
    height: 50px;
    text-align: center;
  }

  .modify-password-form .btn-danger {
    width: 100px;
    height: 34px;
    color: #fff;
    background-color: #db1011;
    border-color: #db1011;
    margin-top: 23px;
  }

  .modify-password-form .btn-primary {
    width: 100px;
    height: 34px;
    color: #db1011;
    background-color: #fff;
    border-color: #db1011;
    margin-top: 23px;
  }

</style>




