<div class="navbg">
  <div class="container_24">
    <ul class="nav nav-tabs">
      <li role="presentation" ui-sref-active="active"><a ui-sref="main">首页</a></li>
      <li role="presentation" ui-sref-active="active"><a ui-sref="noticelist">通知公告</a></li>
      <li role="presentation" ui-sref-active="active"><a ui-sref="trainingClass">班级园地</a></li>
      <li role="presentation" ui-sref-active="active"><a ui-sref="courseCenter">课程中心</a></li>
      <li role="presentation" ui-sref-active="active"><a ui-sref="personalCenter">个人中心</a></li>
      <li role="presentation" ui-sref-active="active"><a ui-sref="testCenter">在线考试</a></li>
      <li role="presentation" ui-sref-active="active"><a ui-sref="article({categoryCode:'onlineHelp'})">在线帮助</a></li>
    </ul>
  </div>
</div>
<style>
  .navbg {
    text-align: center;
    background: #db1011;
  }
  .navbg .nav{
    height: 42px;
    margin:0 auto;
    background: #db1011;
  }
  .navbg .nav-tabs {
    border-bottom: none;
  }
  .navbg .nav-tabs > li > a {
    color: #fff;
    padding: 0;
    font-size: 16px;
    font-weight: 500;
    margin-right: 0;
    border: none;
    width: 170px;
    height: 42px;
    line-height: 42px;
  }
  .nav > li > a:hover, .nav > li > a:focus {
    border-color: transparent;
    background-color: transparent;
  }
  .navbg .nav > li > a:hover {
    background-color: #f50001;
  }
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #fff;
    background-color: #f50001;
    border: none;
  }
</style>

