<!--@*通知公告*@-->

<div class="noticeAnnouncement mar_left_20 mar_top_10 mar_right_12">
  <div class="notice">
    <div class="notice-heading clearfix">
      <h4>{{noticeData.TitleNav}}</h4>
    </div>
    <div class="notice-body" dw-loading="noticeAnnouncement">
      <ul>
        <li ng-repeat="noticeData in noticeData.ListData">
          <a ui-sref="noticeDetail({ID:noticeData.Id})" title="{{noticeData.Name}}" target="_blank">{{noticeData.Name}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<style>
.noticeAnnouncement {
  background-color: #f8f8ec;
  height: 182px;
}
.noticeAnnouncement .notice-heading {
  text-align: center;
  margin: 0 auto;
  width: 284px;
  height: 44px;
  line-height: 44px;
  border-bottom: 1px solid #e3e4ba;
}
.noticeAnnouncement .notice-heading h4{
  line-height: 44px;
  font-weight: 600;
}
.noticeAnnouncement .notice-body li {
  line-height: 30px;
  width: 284px;
  margin: 3px auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.noticeAnnouncement .notice-body li a{
  color: #7f7f7f;
}
.noticeAnnouncement .notice-body li a:hover{
  color: #62a3db;
}
</style>
