<div class="personalCenterNav">
  <div class="com-header clearfix">
    <p class="title pull-left">
      <img src="../images/headerLeftIcon.png" alt="图标">
      个人中心导航
    </p>
  </div>
  <div class="content per tmBorder">
    <ul class="categoryGuide clearfix">
      <li><a ui-sref="courseCenter" class="btn btn-default">选择课程</a></li>
      <li><a ui-sref="studyStat" class="btn btn-default">学习统计</a></li>
      <li><a ui-sref="testStat" class="btn btn-default">考试统计</a></li>
      <li><a ui-sref="studyPlan" class="btn btn-default">学习计划</a></li>
      <li><a ui-sref="myFavorite" class="btn btn-default">我的收藏</a></li>
      <li><a ui-sref="messageList" class="btn btn-default">留言板</a></li>
      <li><a ui-sref="originalarticlelist" class="btn btn-default">原创文章</a></li>
      <li><a ui-sref="studentstyle" class="btn btn-default">学员风采</a></li>
      <li><a ui-sref="polllist" class="btn btn-default">问卷调查</a></li>
      <li><a ui-sref="software" class="btn btn-default">必装软件</a></li>
      <li><a ui-sref="rankcourseclick" class="btn btn-default">排行榜</a></li>
      <li><a ui-sref="speciallearning" class="btn btn-default">专题学习</a></li>
    </ul>
  </div>
</div>
<style>

</style>
