<div class="playPage clearfix">
  <div id="playBg"></div>
  <div tm-drag options="options" drag-ready="dragReady"></div>
  <!--视频播放-->
  <div tm-play-mp4 class="pull-left playMp4 clearfix" ng-if="showPlayMp4"></div>
  <div tm-play-jy class="pull-left playMp4 clearfix" ng-if="showPlayJy"></div>
  <div tm-play-scorm class="pull-left playMp4 clearfix" ng-if="showPlayScorm"></div>
  <div tm-play-single class="pull-left playMp4 clearfix" ng-if="showPlaySingle"></div>
  <!--笔记评论-->
  <div class='toggleSideSec'></div>
  <div class="play pull-right">
    <div class="side_section JYTab">
        <div class="class_info">
          <div class="info">
            <div class="overhide" style="font-size: 14px;color: #323232;line-height: 28px;font-weight: normal;" title="{{resultCourseDetail.Name}}">{{resultCourseDetail.Name}}</div>
            <div style="float:left">教师：{{resultCourseDetail.Teacher}}</div>
            <div style="float:right">时长：{{resultCourseDetail.Duration}}</div>
            <div style="clear:both"><span><a href="#"></a></span></div>
          </div>
          <span class="star" style="background-position-x: -{{resultCourseDetail.StudentGrade*121}}px;"></span><span>{{resultCourseDetail.StudentGrade}}</span>
          <div id="BrowseScore" class="clearfix">
            <span class="pull-left">课程进度：</span>
            <span class="list2 pull-left">
              <div class="progress">
                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="{{resultCourseDetail.BrowseScore}}" aria-valuemin="0" aria-valuemax="100" ng-style="{'width':resultCourseDetail.BrowseScore+'%'};">
                  {{resultCourseDetail.BrowseScore.toFixed(1)}}%
                </div>
              </div>
            </span>
          </div>
          <hr style="margin-top:3px;" />
          <div style="color:#656565;margin-top:4px; font-size: 12px; word-spacing: 4px; text-align: justify;">课程描述：{{resultCourseDetail.Description}}</div>
        </div>
        <!--标签页-->
        <div class="myTab">
          <ul class="nav nav-tabs" ng-init="vm.activeTab=1">
            <li ng-class="{active: vm.activeTab == 1}"><a href="javascript:;" ng-click="vm.activeTab = 1;searchMyCenterCourse({'examType':'UnFinish','title':searchTitle})"><span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;笔记</a></li>
            <li ng-class="{active: vm.activeTab == 2}"><a href="javascript:;" ng-click="vm.activeTab = 2;searchMyCenterCourse({'examType':'Finish','title':searchTitle})"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;评论</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-panel perlist" ng-show="vm.activeTab == 1">
              <div class="pad_left_10">
                <div class="slide-content">
                  <form class="clearfix">
                    <div class="form-group">
                      <input ng-model="noteName" type="text" class="form-control"
                             my-placeholder
                             placeholder="标题">
                    </div>
                    <div class="form-group">
                      <textarea ng-model="noteContent" class="form-control" rows="4"
                                my-placeholder
                                placeholder="请输入笔记内容...">

                      </textarea>
                    </div>
                    <button ng-click="editNote({Name:noteName,Content:noteContent,CourseId:Id})" type="submit" class="btn btn-default pull-right">保存</button>
                  </form>
                  <div style="overflow: auto; height: 300px; visibility: visible;">
                    <ul class="notes" ng-repeat="courseNoteList in resultCourseNote">
                      <li class="title">
                        <span>标题:{{courseNoteList.Name}}</span>
                        <span class="time" style="color:#999;font-size: 12px;float: right">{{courseNoteList.CreateDate | dateFilter | date:'yyyy-MM-dd'}}</span>
                      </li>
                      <li class="content">
                        <span>{{courseNoteList.Content}}</span>
                        <a ng-click="delNote(courseNoteList.Id)" class="btn btn-danger pull-right">删除</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-panel perlist" ng-show="vm.activeTab == 2">
              <div class="pad_left_10">
                <div class="wrapper">
                  <span tm-star-box ng-model="drLevel"></span>
                  <span style="float: left;margin: 7px 0 0 20px;">{{ratingText}}</span>
                  </div>
                </div>
                <form class="clearfix">
                  <div class="form-group">
                    <textarea ng-model="comment" class="form-control" rows="4"
                              my-placeholder
                              placeholder="请输入评论内容...">

                    </textarea>
                  </div>
                  <button ng-click="editComment({rate:drLevel,content:comment,mainId:Id})" type="submit" class="btn btn-default pull-right">保存</button>
                </form>
                <div style="overflow: auto; height: 300px; visibility: visible;">
                  <ul class="notes" ng-repeat="commentList in resultComment.ListData">
                    <li class="title">
                      <span>用户:{{commentList.UserName}}</span>
                      <span class="time" style="color:#999;font-size: 12px;float: right">{{commentList.CreateDate | dateFilter | date:'yyyy-MM-dd'}}</span>
                    </li>
                    <li class="content">
                      <span>{{commentList.Comment}}</span>
                    </li>
                  </ul>
                </div>
              </div>
          </div>
        </div>
    </div>
  </div>
  <!--<div class="preventorgery"></div>-->
</div>
<style>
  .playPage{
    height: 100%;
  }
  .play{
    display: none;
    position: relative;
    height: 100%;
    width: 21%;
  }
  .playMp4{
    width: 99%;
    position: relative;
    height: 100%;
    /*right:324px;*/
    /*left: 10%;
    top:10%;*/
    /*margin-bottom:56.25%;*/
  }
  #playBg{
    display: block;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1002;
    filter:alpha(opacity=40);
    -moz-opacity:0.4;
    -khtml-opacity: 0.4;
    opacity: 0.4;
  }
  .toggleSideSec {
    background: url("../images/1.jpg");
    width: 12px;
    height: 83px;
    cursor: pointer;
    display: inline-block;
    margin-top: 250px;
    position: absolute;
    z-index: 1000;
    /*right: 314px;*/
    right: 0;
  }
  .side_section {
    /*display: none;*/
    background: #d2d5da;
    height: 100%;
    /*position: absolute;*/
    z-index: 1001;
    /*right: 0;*/
    /*top: 0;*/
  }
  .class_info {
    background: #d2d5da;
    min-height: 100px;
    padding: 14px 10px;
  }
  .class_info .info {
    width: 80%;
    color: #656565;
    font-size: 12px;
    line-height: 20px;
  }
  .overhide {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
  }
  .class_info .star {
    color: #cadc03;
    display: inline-block;
  }


  .play .myTab .nav li{
    background-color: #d2d5da;
  }
  .play .myTab .nav{
    margin-left: 10px;
  }
  .play .myTab .tab-content{
    overflow: hidden;
    /*max-height: 530px;*/
    margin-top: 20px;
  }
  .play .myTab .notes li{
    padding: 5px 0;
    text-align: left;
  }
  .play .myTab .notes li a{
    padding: 1px 12px;
  }
  /*.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    background-color: #999a9b;
    border: 1px solid #999a9b;
    border-bottom-color: transparent;
  }*/

  .play .myTab ul.nav-tabs>li a {
    border: 2px solid #d3d3d3;
    background-color: #e6e6e6;
    color: #555;
    border-bottom-color: transparent;
  }
  .play .myTab ul.nav-tabs>li a:hover {
    color: #212121;
    border: 2px solid #aaa;
    border-bottom-color: transparent;
  }
  .play .myTab ul.nav-tabs>li.active a {
    color: #212121;
    background-color: #fff;
    border: 2px solid #aaa;
    border-bottom-color: transparent;
    text-align: center;
  }
  .notes {
    clear: both;
    border-bottom: 1px solid #ccc;
    padding: 10px 10px;
  }
  .wrapper {
    height: 30px;
  }
  #result {
    display: inline-block;
    margin-top: 6px;
  }
  .playPage .form-group input{
    width: 95%;
    padding: 5px 12px;
    height: 34px;
    line-height: 34px;
  }
  .playPage .form-group textarea{
    width: 95%;
  }
  .playPage form button.btn{
    margin-right: 5%;
  }

  #BrowseScore .list2 {
    width: 150px;
  }
  #BrowseScore .list2 .progress{
    margin-top: 0;
  }
</style>

