<!--登录次数（more）-->
<div class="rankingDetail">
  <div class="com-header clearfix">
    <p class="title pull-left">
      <img src="../images/headerLeftIcon.png" alt="图标">
      {{rankCourseFinish.ViewBag.TitleNav}}
    </p>
  </div>
  <div class="tmBorder">
    <ol class="breadcrumb">
      <li class="currentPosition">您的当前位置:</li>
      <li><a ui-sref="main">首页</a></li>
      <li class="active">{{rankCourseFinish.ViewBag.TitleNav}}</li>
    </ol>
    <div class="myTab" dw-loading="rankCourseClick">
      <div class="tab-content">
        <div class="tab-panel perlist">
          <div class="title_bar">
            <span class="list2-5">排名</span>
            <span class="list2-5">姓名</span>
            <span class="list2-5">次数</span>
          </div>
          <div class="list" ng-repeat="rankCourseFinishList in rankCourseFinish.ListData"  ng-class="{'rankListBg':$index%2!=0}">
            <span class="list2-5">{{(paginationConf.currentPage-1)*paginationConf.itemsPerPage+$index+1}}</span>
            <span class="list2-5">{{rankCourseFinishList.Name}}</span>
            <span class="list2-5">{{rankCourseFinishList.Total}}</span>
          </div>
        </div>
      </div>
      <div tm-pagation conf="paginationConf"></div>
    </div>
  </div>
</div>

