<!--课程点击排行列表（more）-->
<div class="rankingDetail">
  <div class="com-header clearfix">
    <p class="title pull-left">
      <img src="../images/headerLeftIcon.png" alt="图标">
      {{rankCourseClick.ViewBag.TitleNav}}
    </p>
    <!--<p class="more pull-right">
      <a ui-sref="rankcourseclick" target="_blank"><img src="../images/more.png" alt="更多"></a>
    </p>-->
  </div>
  <div class="tmBorder">
    <ol class="breadcrumb">
      <li class="currentPosition">您的当前位置:</li>
      <li><a ui-sref="main">首页</a></li>
      <li class="active">{{rankCourseClick.ViewBag.TitleNav}}</li>
    </ol>
    <div class="myTab" dw-loading="rankCourseClick">
      <div class="tab-content">
        <div class="tab-panel perlist">
          <div class="title_bar clearfix">
            <span class="list1">排名</span>
            <span class="list2">课程</span>
            <span class="list1">点击次数</span>
          </div>
          <div class="list" ng-repeat="rankCourseClickList in rankCourseClick.ListData">
            <p class="clearfix">
              <span class="list1">{{(paginationConf.currentPage-1)*paginationConf.itemsPerPage+$index+1}}</span>
              <span class="list2" title="{{rankCourseClickList.Name}}"><a ui-sref="courseDetails({Id:rankCourseClickList.Id})" target="_blank">{{rankCourseClickList.Name}}</a></span>
              <span class="list1">{{rankCourseClickList.Total}}</span>
            </p>
          </div>

        </div>
      </div>
      <div ng-show="paginationConf.totalItems>0" tm-pagation conf="paginationConf" style="margin-left: 20%"></div>
      <div class="noData" ng-show="paginationConf.totalItems <=0">暂无数据</div>
    </div>
  </div>

</div>

<style>
  .myTab .perlist .list1 {
    width: 20%;
    height: 37px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .myTab .perlist .list2 {
    width: 60%;
    height: 37px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .myTab .perlist .list .list1 {
    padding-left: 10px;
    padding-right: 10px;
  }
</style>
