<!--实时数据-->
<div class="realTimeData">
  <div class="realTimeList" dw-loading="realTimeList">
    <ul>
      <li>
        <div class="labelName"><img src="../images/realTime1.png" alt=""><span>注册人数</span></div>
        <p class="count">{{realTimeData.Model.UsersCount}}</p>
      </li>
    </ul>
    <ul>
      <li>
        <div class="labelName"><img src="../images/realTime2.png" alt=""><span>在线人数</span></div>
        <p class="count">{{realTimeData.Model.OnlineUsersCount}}</p>
      </li>
    </ul>
    <ul>
      <li>
        <div class="labelName"><img src="../images/realTime3.png" alt=""><span>课件数量</span></div>
        <p class="count">{{realTimeData.Model.CourseCount}}</p>
      </li>
    </ul>
    <ul>
      <li class="lastLi">
        <div class="labelName"><img src="../images/realTime4.png" alt=""><span>访问次数</span></div>
        <p class="count">{{realTimeData.Model.UserVisitCount}}</p>
      </li>
    </ul>
  </div>
</div>
