<!--专题培训-->
<div class="specialTraining mar_top_20">
  <div class="com-header clearfix">
    <p class="title pull-left">
      <img src="../images/headerLeftIcon.png" alt="图标">
      专题学习
    </p>
    <p class="more pull-right"><img src="../images/more.png" alt="更多"></p>
  </div>
  <ul class="specialContent">
    <li>
      <p><img  class="specialImg" src="../images/specialCourse1.png" alt=""></p>
      <p class="title ellipsis">"一带一路"国际合作高峰论坛</p>
    </li>
    <li>
      <p><img src="../images/specialCourse1.png" alt=""></p>
      <p class="title ellipsis">"一带一路"国际合作高峰论坛</p>
    </li>
    <li>
      <p><img src="../images/specialCourse1.png" alt=""></p>
      <p class="title ellipsis">"一带一路"国际合作高峰论坛</p>
    </li>
  </ul>
</div>
<style>
  .specialTraining {
    margin-left: 16px;
  }
  .specialTraining .specialContent{
    margin-top: 20px;
  }
  .specialTraining .specialContent li{
    margin-top: 10px;
  }
  .specialTraining .specialContent li .title{
    height: 33px;
    line-height: 33px;
    font-size: 16px;
    color: #333;
  }
  .specialTraining .specialContent li .specialImg{
    width:334px;
    height: 115px;
  }

</style>
