<div class="studyStyle">
  <div class="com-header clearfix">
    <p class="title pull-left">
      <img src="../images/headerLeftIcon.png" alt="图标">
      学员风采
    </p>
  </div>
  <div class="tmBorder">
    <ol class="breadcrumb">
      <li class="currentPosition">您的当前位置:</li>
      <li><a ui-sref="main">首页</a></li>
      <li class="active">学员风采</li>
    </ol>
    <div class="styleContent" dw-loading="studyStyle">
      <ul class="clearfix">
        <li class="courseList pull-left" ng-repeat="list in studyStyleData.ListData">
          <a ui-sref="studentstyledetail({Id:list.Id})">
            <img ng-src="{{list.Img}}" err-src="/images/notFound.jpeg">
          </a>
          <p><a ui-sref="studentstyledetail({Id:list.Id})" class="title">{{list.Name}}</a></p>
          <p class="list title2">{{list.Source}}</p>
        </li>
      </ul>
      <div tm-pagation conf="paginationConf"></div>
    </div>
  </div>

</div>

<style>
  .studyStyle .styleContent .txt {
    color: #000;
    font-size: 17px;
    line-height: 25px;
  }
  .studyStyle .styleContent .courseList {
    width: 160px;
    height: 300px;
    margin: 20px 0 0 11%;
  }
  .studyStyle .styleContent p {
    text-align: center;
    color: #3b3a3a;
  }
  .studyStyle .styleContent p .title{
    margin-top: 20px;
    line-height: 30px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    color: #3b3a3a;
    text-align: center;
  }
  .studyStyle .styleContent .title2 {
    line-height: 25px;
    font-size: 14px;
    font-weight: bold;
  }
  .studyStyle .styleContent .courseList img{
    display: inline-block;
    width: 160px;
    height: 200px;
  }
</style>
