<!--考试统计-->
<div class="examStat">
  <div class="com-header clearfix">
    <p class="title pull-left">
      <img src="../images/headerLeftIcon.png" alt="图标">
      {{examStatData.TitleNav}}
    </p>
  </div>
  <div class="tmBorder">
    <ol class="breadcrumb">
      <li class="currentPosition">您的当前位置:</li>
      <li><a ui-sref="main">首页</a></li>
      <li><a ui-sref="personalCenter">个人中心</a></li>
      <li class="active">{{examStatData.TitleNav}}</li>
    </ol>
    <form class="form-inline formSearch">
      <span>查询时间：</span>
      <div class="form-group">
        <input type="text" ng-model="startTime" date-time-picker class="datebg">
      </div>
      <span>至</span>
      <div class="form-group">
        <input type="text" ng-model="endTime" date-time-picker class="datebg">
      </div>
      <button type="submit" class="btn btn-danger" ng-click="requestMyStudyStat({StartDate:startTime,EndDate:endTime})">
        查询
      </button>
    </form>
    <p>
      尊敬的 <b>{{examStatData.Account}}</b>, 截止 <b>{{examStatData.StartDate}} 至 {{examStatData.EndDate}} </b>, 您目前顺利通过 <b>{{examStatData.FinishExam}}</b>
      门考试 , 有 <b>{{examStatData.UnFinishExam}}</b> 门考试未通过。总共获得 <b>{{examStatData.ExamCreditSum}}</b> 学时
    </p>
    <div class="myTab" dw-loading="examStat">
      <div class="tab-content" dw-loading="myCenter">
        <div class="tab-panel perlist">
          <div class="title_bar">
            <span class="list2">用户名</span>
            <span class="list2">姓名</span>
            <span class="list2 ellipsis">考试名称</span>
            <span class="list2">考试成绩</span>
            <span class="list2">获得学时</span>
          </div>
          <div class="list" ng-repeat="examList in examStatData.ListData">
              <span class="list2">{{examStatData.Account}}</span>
              <span class="list2">{{examList.UserName}}</span>
              <span class="list2">{{examList.Name}}</span>
              <span class="list2">{{examList.ExamScore}}</span>
              <span class="list2">{{examList.Credit}}</span>
          </div>
          <div ng-transclude="pagation"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .examStat .btn.btn-danger {
    padding: 2px 14px;
    margin-left: 10px;
  }
  .examStat .formSearch input {
    width: 200px;
  }
  .examStat .formSearch .form-group {
    width: auto;
  }
</style>


