<!--未读通知-->
<div class="myFavorite">
  <div class="com-header clearfix">
    <p class="title pull-left">
      <img src="../images/headerLeftIcon.png" alt="图标">
      {{noticeData.TitleNav}}
    </p>
  </div>
  <div class="tmBorder">
    <ol class="breadcrumb">
      <li class="currentPosition">您的当前位置:</li>
      <li><a ui-sref="main">首页</a></li>
      <li><a ui-sref="personalCenter">个人中心</a></li>
      <li class="active">{{noticeData.TitleNav}}</li>
    </ol>
    <div class="myTab" dw-loading="myFavorite">
      <div class="tab-content" dw-loading="myCenter">
        <div class="tab-panel perlist">
          <div class="title_bar clearfix">
            <span class="list1">通知标题</span>
            <span class="list2">阅读状态</span>
            <span class="list3">发布日期</span>
          </div>
          <div class="list" ng-repeat="List in noticeData.AllList">
            <p class="clearfix">
              <span class="list1 cur_name"><a ui-sref="noticeDetail({ID:List.Id})" target="_blank">{{List.Name}}</a></span>
              <span ng-if="!List.Read" class="list2 unread">未读</span>
              <span ng-if="List.Read" class="list2 read">已读</span>
              <span class="list3">{{List.CreateDate | dateFilter | date:'yy-MM-dd'}}</span>
            </p>
          </div>
          <div ng-transclude="pagation"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
    .myTab .perlist .list1 {
        width: 50%;
        height: 37px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .myTab .perlist .list .list1 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .myTab .perlist .list2 {
        width: 25%;
    }
    .myTab .perlist .list .list2 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .myTab .perlist .list3 {
        width: 25%;
    }
    .unread{
        color: #db0909;
    }
</style>




