<!--登陆-->
<form class="login" dw-loading="userLogin" ng-if="showLogin">
  <div class="titlebg2">
    <div class="txt ng-binding">
      用户登录
    </div>
  </div>
  <div class="form-group clearfix">
    <label for="exampleInputUser" class="login_icon_user"></label>
    <input ng-focus="inputFocus()" ng-change="inputChange()" ng-model="login.Account"
           type="text" class="form-control" id="exampleInputUser"
           my-placeholder
           placeholder="请输入用户名">
    <span class="error" ng-class="showError?'is-visible':''">帐号或密码错误</span>
    <span class="error" ng-class="showError2?'is-visible':''">用户名密码不能为空</span>
  </div>
  <div class="form-group clearfix">
    <label for="exampleInputPassword1" class="login_icon_password"><span></span></label>
    <input ng-focus="inputFocus()" ng-change="inputChange()" ng-model="login.PassWord"
           type="password" autocomplete="off" class="form-control" id="exampleInputPassword1"
           my-placeholder
           placeholder="请输入密码"
    >
  </div>
  <div class="checkbox">
    <label>
      <input ng-model="login.RememberMe" type="checkbox">记住密码
    </label>
  </div>
  <button ng-click="clickLogin()" type="submit" class="btn btn-success">登录</button>
  <div class="forgetPassword">
    <a ui-sref="forgetPassword">忘记密码？</a> |
    <a ui-sref="userRegister">立即注册</a>
  </div>
  <!--<div class="preventorgery"></div>-->
</form>
<!--登陆成功-->
<div id="loginAfter" dw-loading="loginOut" ng-if="!showLogin">
  <div class="titlebg2">
    <div class="txt ng-binding">
      个人信息
    </div>
  </div>
  <div class="content login_info">
    <!--@*个人中心的登陆后详细和首页不同，个人中心更为具体详细，具体看 Mycenter.cshtml*@-->
    <ul class="loginAfter_ul">
      <li class="welcom">欢迎您:<b class="blue">{{userMessage.Name}}</b>({{userMessage.Account}})</li>
      <li>
        <span>年度学时：<span class="blue">{{userMessage.BatchTotalCredit}}</span></span>
        <span>当前学时：<span class="blue">{{userMessage.SumCredit}}</span></span>
      </li>
      <li>
        <span>个人学习档案</span>
        <span class="list2 grey"><a ui-sref="personaLearningArchives" target="_blank">详细&gt;&gt;</a></span>
      </li>
      <!--<li>
        <span class="grey"><a ui-sref="shoppingcart">购物车&gt;&gt;</a></span>
        <span class="list2 grey"><a ui-sref="personaLearningArchives" target="_blank">我的订单&gt;&gt;</a></span>
      </li>-->
      <li>
        <span class="list1">您有<span class="blue">{{userMessage.UnRead}} </span>条新通知！</span>
        <span class="list2 grey"><a ui-sref="unReadNotice">查看详情&gt;</a></span>
      </li>
      <li class="lastChild fontSize12 grey">
        <a ui-sref="modifyPassword">修改密码</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a ui-sref="changeUser" id="ctl05_A2">修改信息</a> &nbsp;|&nbsp;
        <span class="list2" ng-if="userAllMessage.UserType=='管理员'" ><a href="/admin" target="_blank">进入管理控制台</a></span>
        <!--<span class="list2" ng-if="userAllMessage.UserType=='管理员'" ><a href="http://192.168.1.25:9090/admin/" target="_blank">进入管理控制台</a></span>-->
      </li>
      <li class="lastChild lastChild1">
        <a class="exit" href="javascript:;" ng-click="loginOut('out')">退出</a>
        <!--<span class="list1"><a  href="javascript:void();" onclick="loginOut('cancel')">删除账号</a></span>-->
      </li>
    </ul>
  </div>
</div>
<style>
  form.login{
    background-color: #f4f5e5;
    height: 340px;
  }
  .form-group {
    margin-bottom: 23px;
    position: relative;

  }
  .form-group label{
    float: left;
    width: 36px;
    height: 34px;
    border: 1px solid #ccc;
    margin-left: 25px;
  }
  .form-group .login_icon_user{
    background: url("images/login-icon.png") 2px -4px no-repeat;
  }
  .form-group .login_icon_password{
    background: url("images/login-icon.png") 2px -83px no-repeat;
  }
  .login .form-group input {
    height: 34px;
    line-height: 34px;
    float: left;
    display: inline-block;
    width: 216px;
    border-radius: 0;
    border-left:0;
  }
  .checkbox {
    margin-bottom: 23px;
  }
  .checkbox label {
    margin-left: 25px;
    color: #767674;
  }
  form.login .btn-success{
    width: 250px;
    height: 34px;
    background-color: #b7cc3f;
    border-color: #c8df44;
    margin-left: 25px;
    margin-bottom: 23px;
  }
  form.login .btn-success:active{
    background-color: #b7cc3f;
    border-color: #c8df44;
  }
  form.login .forgetPassword {
    text-align: center;
    color: #777;
  }
  form.login .forgetPassword a{
    color: #777;
    padding: 0 5px;
  }
  form.login .forgetPassword a:hover{
    color: #545454;
    text-decoration: underline;
  }
  .login .preventorgery {
    display: block;
  }
  /*form.login .register {
    float: right;
  }
  form.login .register a{
    padding: 0 45px 0 0;

  }*/
  form.login span.error.is-visible {
    visibility: visible;
    opacity: 1;
    right: 50px;
    transition:all 0.25s;
    -moz-transition: all 0.25s; /* Firefox 4 */
    -webkit-transition: all 0.25s; /* Safari 和 Chrome */
    -o-transition: all 0.25s; /* Opera */
  }
  form.login span.error {
    visibility: hidden;
    position: absolute;
    right: -85px;
    padding: 0 8px;
    line-height: 34px;
    color: #c33;
    cursor: text;
    font-weight: normal;
    opacity: 0;
    /*-ms-filter: "alpha(Opacity=0)";
    -webkit-transform: translate(20px,0);
    -ms-transform: translate(20px,0);
    transform: translate(20px,0);*/
    transition:all 0.25s;
    -moz-transition: all 0.25s; /* Firefox 4 */
    -webkit-transition: all 0.25s; /* Safari 和 Chrome */
    -o-transition: all 0.25s; /* Opera */
  }
  #loginAfter {
    height: 340px;
    background-color: #f4f5e5;
  }
  #loginAfter .txt {
    line-height: 74px;
    color: #666;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
  }
  #loginAfter .loginAfter_ul li {
    color: #333;
    height: 45px;
    line-height: 45px;
    width: 270px;
    margin:0 auto;
    border-bottom: 1px solid #d4d5d7;
  }

  #loginAfter .loginAfter_ul .grey a {
    color: #666;
  }
  #loginAfter .loginAfter_ul .grey a:hover {
    text-decoration: none;
    color: #333;
  }

  #loginAfter .list2 {
    float: right;
  }
  #loginAfter .loginAfter_ul li.lastChild {
    border-bottom: 0;
  }
  #loginAfter .loginAfter_ul li.lastChild1 {
    text-align: center;
  }
  #loginAfter .loginAfter_ul .fontSize12 a {
    font-size: 12px;
  }
  #loginAfter .exit {
    display: block;
    margin: 7px auto;
    width: 80px;
    height: 26px;
    background-color: #3a7fb6;
    text-align: center;
    line-height: 26px;
    color: #fff;
    border-radius: 6px;
  }
  #loginAfter .loginAfter_ul .lastChild .list2 a {
    color: #076fc7;
  }
  #loginAfter .loginAfter_ul .lastChild .list2 a:hover {
    color: #333;
  }
</style>
