<!--用户排行列表（more）-->
<div class="userRankingList">
  <div class="com-header clearfix">
    <p class="title pull-left">
      <img src="../images/headerLeftIcon.png" alt="图标">
      {{userRankingData.ViewBag.TitleNav}}
    </p>
  </div>
  <div class="tmBorder">
    <ol class="breadcrumb">
      <li class="currentPosition">您的当前位置:</li>
      <li><a ui-sref="main">首页</a></li>
      <li class="active">{{userRankingData.ViewBag.TitleNav}}</li>
    </ol>
    <div class="myTab" dw-loading="userRankingList">
      <div class="tab-content">
        <div class="tab-panel perlist">
          <div class="title_bar">
            <span class="list2">排名</span>
            <span class="list2">姓名</span>
            <span class="list2">学时</span>
            <span class="list2">学次</span>
            <span class="list2 ellipsis">单位名称</span>
          </div>
          <div class="list" ng-repeat="userRankingDataList in userRankingData.ListData"  ng-class="{'rankListBg':$index%2!=0}">
              <span class="list2">{{(paginationConf.currentPage-1)*paginationConf.itemsPerPage+$index+1}}</span>
              <span class="list2">{{userRankingDataList.UserName}}</span>
              <span class="list2">{{userRankingDataList.Credit}}</span>
              <span class="list2">0</span>
              <span class="list2">{{userRankingDataList.DepartmentName}}</span>
          </div>
        </div>
      </div>
      <div tm-pagation conf="paginationConf"></div>
    </div>
  </div>
</div>
