<div class="container_24">
  <div class="container_24">
    <!--<tm-header></tm-header>-->
    <div tm-header></div>
  </div>
  <div tm-important-notice></div>
  <!--<tm-important-notice></tm-important-notice>-->
  <div class="container_24 mar_top_20 guideViewBottom">
    <div class="grid_15">
      <div tm-news-information></div>
      <!--<tm-news-information news="allNews"></tm-news-information>-->
    </div>
    <div class="grid_9">
      <div tm-guide-entry></div>
      <div tm-notice-announcement></div>
      <!--<tm-guide-entry></tm-guide-entry>
      <tm-notice-announcement></tm-notice-announcement>-->
    </div>
    <div class="grid_15 mar_top_20">
      <div class="grid_7_2">
        <div tm-civil-service-training-link></div>
        <!--<tm-civil-service-training-link></tm-civil-service-training-link>-->
      </div>
      <div class="grid_7_2 mar_left_10">
        <div tm-technician-training-link></div>
        <!--<tm-technician-training-link></tm-technician-training-link>-->
      </div>
    </div>
    <div class="grid_9 mar_top_20">
      <div tm-friendly-link></div>
      <!--<tm-friendly-link></tm-friendly-link>-->
    </div>
  </div>
</div>
<div tm-footer2></div>



