<!--<div ng-include="'header.html'"></div>-->
<div class="container_24">
  <div tm-header></div>
  <div tm-nav-bars></div>
  <div class="container_24 mar_top_20">
    <div class="grid_16_2 pad_right_20">
      <div tm-special-training></div>
      <!--<tm-special-training></tm-special-training>-->
    </div>
    <div class="grid_8_2">
      <div tm-user-login></div>
      <!--<tm-user-login></tm-user-login>-->
    </div>
  </div>
  <div class="container_24 mar_top_15">
    <div class="grid_16_2 pad_right_20">
      <div tm-course-center></div>
    </div>
    <div class="grid_8_2">
      <div tm-government-ranking></div>
      <div tm-real-time-data></div>
    </div>
  </div>

  <!--<input my-laydate type="text" id="id1" ng-model="startTime">-->
  <div class="grid_24">
    <div tm-footer></div>
  </div>
</div>
<div tm-tip></div>



