
<div class="container_24">
  <div tm-header></div>
  <div tm-nav-bars></div>
  <div class="grid_6 mar_top_15">
    <div tm-training-course-classify repeat-done="repeatDone"></div>
    <div tm-class-my class-my-data="classMyData"></div>
    <!--<a ui-sref="classlist({type:'me'})">我的班级</a>-->
    <!--<div tm-class-my class-my-data="ClassActiveData"></div>
    <div tm-class-my class-my-data="ClassRecentData"></div>-->
  </div>
  <div class="grid_18 mar_top_15 pad_left_10">
    <div tm-training-center>
      <div class="pull-left" tm-pagation conf="paginationConf"></div>
    </div>
  </div>
  <div class="grid_24">
    <div tm-footer></div>
  </div>
</div>

